Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lint:
  run: make lint && test "{staged_files}"

mdl:
  run: mdl {staged_files}

liche:
  run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"

forspell:
  run: forspell {staged_files}

feat: pongs
  CHANGELOG.md
  cli/options.go
  cli/session_options.go
  common/common.go
  docs/configuration.md
  features/ping_pong.testfile
  node/config.go
  node/node.go
  node/session.go
Due: lint, mdl, liche, forspell

Bump 1.4.3
  CHANGELOG.md
  version/version.go
Due: lint

docs(pro): ext binary protocols
  docs/binary_formats.md
Due: mdl, liche, forspell

refactor: disconnector_queue locks and backlog size
  CHANGELOG.md
  cli/options.go
  node/disconnect_queue.go
  node/session.go
Due: lint

fix: do not process incoming messages from closed sessions
  node/session.go
Due: lint

fix: convert sentinel params to hashes if possible
  lib/anycable/config.rb
  sig/anycable/config.rbs
Due: none

style: upgrade rubocop
  lib/anycable/grpc_kit/server.rb
  spec/support/echo_channel.rb
Due: none

Bump 1.4.2
  CHANGELOG.md
  lib/anycable/version.rb
Due: none

feat(sse): support last-event-id
  features/sse.testfile
  sse/encoder.go
  sse/sse.go
Due: lint

feat: turbo-friendly sse
  docs/sse.md
  features/sse.testfile
  sse/encoder.go
  sse/encoder_test.go
  sse/handler.go
  sse/handler_test.go
  sse/sse.go
Due: lint, mdl, liche, forspell

docs: sse
  CHANGELOG.md
  docs/sse.md
  forspell.dict
Due: mdl, liche, forspell

feat: basic SSE support
  cli/cli.go
  cli/options.go
  config/config.go
  node/session.go
  sse/config.go
  sse/connection.go
  sse/connection_test.go
  sse/encoder.go
  sse/encoder_test.go
  sse/handler.go
  sse/handler_test.go
  sse/sse.go
Due: lint

fix(tests): ensure each sse tests waits for sessions disconnection
  sse/handler_test.go
Due: lint

fix: close sse connections on server shutdown
  cli/cli.go
  server/server.go
  sse/handler.go
  sse/handler_test.go
Due: lint

feat: support SSE via POST
  node/node.go
  node/session.go
  server/cors.go
  sse/config.go
  sse/connection.go
  sse/connection_test.go
  sse/handler.go
  sse/handler_test.go
  sse/sse.go
Due: lint

Bump 1.4.4
  CHANGELOG.md
  version/version.go
Due: lint

fix: int overflow for win in sse retryNoReconnect
  sse/encoder.go
Due: lint

test: temporary restrict nats-pure version to <2.3.0
  .circleci/Gemfile
Due: none

Update rueidis to get ParseURL func
  go.mod
  go.sum
Due: none

Document in CHANGELOG.md
  CHANGELOG.md
Due: none

Use a more sophisticated approach for backward compatibility
  broadcast/redis_test.go
  redis/config.go
  redis/config_test.go
Due: lint

Fortify a spec prepare stage
  broadcast/redis_test.go
Due: lint

Use ParseURL from rueidis package
  broadcast/redis.go
  broadcast/redis_test.go
  pubsub/redis.go
  redis/config.go
  redis/redis.go
Due: lint

Check one more thing in the tests
  redis/config_test.go
Due: lint

Add support for REDIS_URL with trailing slash hostnames
  redis/config.go
  redis/config_test.go
Due: lint

Add a CHANGELONG entry
  CHANGELOG.md
Due: none

chore: add session.String() and stop using patched testify
  go.mod
  go.sum
  node/session.go
Due: lint

feat: batch broadcasts
  CHANGELOG.md
  common/common.go
  node/node.go
  node/node_test.go
Due: lint

fix: silence telemetry errors
  telemetry/telemetry.go
Due: lint

feat: batch broadcasting
  CHANGELOG.md
  docs/broadcast_adapters.md
  lib/anycable/broadcast_adapters/base.rb
  sig/anycable/broadcast_adapters/base.rbs
  spec/anycable/broadcast_adapters/base_spec.rb
Due: mdl, liche, forspell

rbs: ignore nats sigs
  rbs_collection.yaml
  sig/vendor/nats.rbs
Due: none

feat: start_batching/finish_batching API
  lib/anycable/broadcast_adapters/base.rb
  sig/anycable/broadcast_adapters/base.rbs
  spec/anycable/broadcast_adapters/base_spec.rb
Due: none

feat: broadcast options + exclude_socket
  docs/broadcast_adapters.md
  lib/anycable.rb
  lib/anycable/broadcast_adapters/base.rb
  sig/anycable.rbs
  sig/anycable/broadcast_adapters/base.rbs
  spec/anycable/broadcast_adapters/base_spec.rb
Due: mdl, liche, forspell

docs: grpc_kit usage
  docs/configuration.md
Due: mdl, liche, forspell

fix(rpc): pass gRPC meta as headers
  rpc/http.go
  rpc/http_test.go
  rpc/rpc_test.go
Due: lint

feat: stream message meta + exclude_socket
  CHANGELOG.md
  Makefile
  common/common.go
  etc/anyt/broadcast_tests/options_test.rb
  hub/gate.go
  hub/hub_test.go
Due: lint

ci: farewell to circle
  .circleci/config.yml
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
  Gemfile
  Makefile
  Readme.md
Due: none

Path conditions:
  lint: any of: *.go
  mdl: any of: docs/*.md
  liche: any of: docs/*.md
  forspell: any of: docs/*.md
