Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lint:
  run: make lint && test "{staged_files}"

mdl:
  run: mdl {staged_files}

liche:
  run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"

forspell:
  run: forspell {staged_files}

docs: add uptriever config
  docs/.trieve.yml
Due: none

ci: trieve.yml
  .github/workflows/trieve.yml
Due: none

chore: vendor go-mruby
  Makefile
  go.mod
  go.sum
  vendorlib/go-mruby/.gitignore
  vendorlib/go-mruby/.travis.yml
  vendorlib/go-mruby/LICENSE
  vendorlib/go-mruby/Makefile
  vendorlib/go-mruby/README.md
  vendorlib/go-mruby/args.go
  vendorlib/go-mruby/array.go
  vendorlib/go-mruby/array_test.go
  vendorlib/go-mruby/class.go
  vendorlib/go-mruby/class_test.go
  vendorlib/go-mruby/context.go
  vendorlib/go-mruby/context_test.go
  vendorlib/go-mruby/decode.go
  vendorlib/go-mruby/decode_test.go
  vendorlib/go-mruby/examples_test.go
  vendorlib/go-mruby/func.go
  vendorlib/go-mruby/func_test.go
  vendorlib/go-mruby/gc_test.go
  vendorlib/go-mruby/go.mod
  vendorlib/go-mruby/go.sum
  vendorlib/go-mruby/gomruby.h
  vendorlib/go-mruby/hash.go
  vendorlib/go-mruby/hash_test.go
  vendorlib/go-mruby/mruby.go
  vendorlib/go-mruby/mruby_test.go
  vendorlib/go-mruby/parser.go
  vendorlib/go-mruby/parser_test.go
  vendorlib/go-mruby/value.go
  vendorlib/go-mruby/value_test.go
  vendorlib/go-mruby/value_type.go
Due: lint

fix: deadlocks in Redis pub/sub
  CHANGELOG.md
  broadcast/redis.go
  pubsub/redis.go
  pubsub/redis_test.go
Due: lint

chore: deps upgrades
  go.mod
  go.sum
Due: none

Bump 1.5.3
  CHANGELOG.md
  version/version.go
Due: lint

deploy: upd heroku config
  app.json
Due: none

feat: send telemetry through our proxy
  .github/workflows/release-binaries.yml
  .github/workflows/release-docker.yml
  Makefile
  cli/cli.go
  telemetry/config.go
  telemetry/telemetry.go
Due: lint

feat(telemetry): add cluster-fingerprint
  CHANGELOG.md
  telemetry/telemetry.go
Due: lint

ci: upgrade test.yml
  .github/workflows/test.yml
Due: none

fix(test): update telemetry tests
  telemetry/telemetry_test.go
Due: lint

ci: use published versions of Ruby gems
  Gemfile
Due: none

ci: add stacktrace to runner exceptions
  features/runner.rb
Due: none

chore: upgrade to Go 1.23
  CHANGELOG.md
  go.mod
  go.sum
Due: none

fix(broker/nats): use errors.Is(..) to compare errors
  broker/nats.go
  broker/nats_test.go
Due: lint

feat: log metrics in deterministic order
  CHANGELOG.md
  metrics/printer.go
Due: lint

style: upgrade golangcilint
  .github/workflows/lint.yml
  .golangci.yml
  Makefile
  rpc/rpc.go
Due: lint

docs: remove deprecated disconnect_timeout
  docs/configuration.md
Due: mdl, liche, forspell

zed: file type associations
  .zed/settings.json
Due: none

feat: core toml functionality
  CHANGELOG.md
  cli/cli.go
  cli/options.go
  config/config.go
  docs/configuration.md
  features/file_config.testfile
  features/runner.rb
  go.mod
  go.sum
Due: lint, mdl, liche, forspell

refactor: extract broadcast and pubsub configs
  broadcast/legacy_nats.go
  broadcast/legacy_nats_test.go
  broadcast/legacy_redis.go
  broadcast/legacy_redis_test.go
  broadcast/redis.go
  broadcast/redis_test.go
  cli/options.go
  cli/runner_options.go
  config/config.go
  nats/config.go
  nats/config_test.go
  pubsub/nats.go
  pubsub/nats_test.go
  pubsub/redis.go
  pubsub/redis_test.go
  redis/config.go
  redis/config_test.go
Due: lint

refactor: move AllowedOrigins to server.Config
  broadcast/http.go
  broadcast/http_test.go
  cli/options.go
  node/config.go
  node/config_test.go
  server/config.go
  server/config_test.go
  sse/config.go
  ws/config.go
  ws/config_test.go
Due: lint

refactor: move configuration settings under proper namespaces
  broker/config.go
  cli/cli.go
  cli/options.go
  cli/runner_options.go
  config/config.go
  config/presets.go
  config/presets_test.go
  enats/config.go
  logger/config.go
  rpc/config.go
  server/config.go
  telemetry/telemetry.go
  ws/config.go
Due: lint

feat: add ToToml() to all configs
  broadcast/http.go
  broadcast/http_test.go
  broker/config.go
  broker/config_test.go
  cli/options.go
  config/config.go
  enats/config.go
  enats/config_test.go
  features/file_config.testfile
  features/runner.rb
  identity/jwt.go
  identity/jwt_test.go
  logger/config.go
  logger/config_test.go
  metrics/config.go
  metrics/config_test.go
  nats/config.go
  nats/config_test.go
  node/config.go
  node/config_test.go
  node/disconnect_queue.go
  node/disconnect_queue_test.go
  redis/config.go
  redis/config_test.go
  rpc/config.go
  rpc/config_test.go
  server/config.go
  server/config_test.go
  server/ssl_config.go
  sse/config.go
  sse/config_test.go
  streams/config.go
  streams/config_test.go
  ws/config.go
  ws/config_test.go
Due: lint

fix: add StatsD config to .toml
  features/file_config.testfile
  metrics/config.go
  metrics/statsd_writer.go
Due: lint

readme: revamp
  Readme.md
Due: none

Bump 1.5.4
  CHANGELOG.md
  version/version.go
Due: lint

Bump npm 1.5.4
  packaging/npm/package.json
Due: none

chore: telemetry improvements
  CHANGELOG.md
  cli/cli.go
  cli/runner_options.go
  telemetry/config.go
  telemetry/telemetry.go
  telemetry/telemetry_test.go
Due: lint

fix: file config must have lower precedence than env/cli
  CHANGELOG.md
  cli/options.go
  config/config.go
  features/file_config.testfile
Due: lint

Bump 1.5.5
  CHANGELOG.md
  version/version.go
Due: lint

Bump npm 1.5.5
  packaging/npm/package.json
Due: none

fix: populate default configuration values correctly
  CHANGELOG.md
  cli/options.go
  features/file_config.testfile
  rpc/rpc.go
Due: lint

Bump 1.5.6
  CHANGELOG.md
  version/version.go
Due: lint

Bump npm 1.5.6
  packaging/npm/package.json
Due: none

fix: remove sessions from hub during shutdown
  node/node.go
Due: lint

fix: do not track pongs during command execution
  node/node.go
  node/session.go
Due: lint

feat: ws rpc core implementation
  .rubocop.yml
  Gemfile
  Rakefile
  lib/anycable.rb
  lib/anycable/config.rb
  lib/anycable/wsrpc.rb
  lib/anycable/wsrpc/client.rb
  lib/anycable/wsrpc/server.rb
  sig/anycable/config.rbs
  sig/anycable/wsrpc/client.rbs
  sig/anycable/wsrpc/server.rbs
  spec/integrations/ws_rpc_server_spec.rb
  spec/support/cli_testing.rb
  spec/support/with_ws_server.rb
Due: none

Path conditions:
  lint: any of: *.go
  mdl: any of: docs/*.md
  liche: any of: docs/*.md
  forspell: any of: docs/*.md
