Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lint:
  run: make lint && test "{staged_files}"

mdl:
  run: mdl {staged_files}

liche:
  run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"

forspell:
  run: forspell {staged_files}

fix: minor -race warnings
  node/disconnect_queue_test.go
  node/hub_test.go
  node/node.go
  node/node_mocks_test.go
  node/node_test.go
  node/session.go
  node/session_test.go
  server/server.go
Due: lint

ci: halt on race conditions
  .circleci/config.yml
  .github/workflows/test.yml
Due: none

fix: session.sendPing race
  node/session.go
Due: lint

fix: subscriber and controller initialization race conditions
  cli/cli.go
  pubsub/http.go
  pubsub/redis.go
  pubsub/subscriber.go
Due: lint

ci: run Circle for ci/* branches
  .circleci/config.yml
Due: none

ci: upd goroutines benchmark
  benchmarks/goroutines.benchfile
  benchmarks/runner.rb
Due: none

feat: automaxprocs
  CHANGELOG.md
  cli/cli.go
  docs/configuration.md
  forspell.dict
  go.mod
  go.sum
Due: lint, mdl, liche, forspell

Bump 1.2.1
  CHANGELOG.md
  docs/getting_started.md
  docs/os_tuning.md
  version/version.go
Due: lint, mdl, liche, forspell

docs(pro): apollo + jwt
  docs/apollo.md
Due: mdl, liche, forspell

ci: build multiarch docker images
  .circleci/config.yml
  .docker/Dockerfile.alpine
  .docker/Dockerfile.mrb-linux-amd64
  .docker/Dockerfile.universal
Due: none

Fix typos
  docs/configuration.md
  lib/anycable/broadcast_adapters/http.rb
  lib/anycable/broadcast_adapters/redis.rb
Due: mdl, liche, forspell

style: upgrade rubocop
  lib/anycable/cli.rb
Due: none

feat: log when client's subrpotocol is not supported
  cli/cli.go
  common/common.go
  ws/handler.go
Due: lint

chore: add generic ToJSON function
  utils/utils.go
Due: lint

refactor(session): drop .node, use .executor; add metrics.Instrumenter interface
  metrics/metrics.go
  metrics/noop.go
  node/node.go
  node/node_mocks_test.go
  node/session.go
Due: lint

feat: nats adapter
  CHANGELOG.md
  anycable-core.gemspec
  docs/broadcast_adapters.md
  docs/configuration.md
  lib/anycable/broadcast_adapters/nats.rb
  lib/anycable/broadcast_adapters/redis.rb
  lib/anycable/config.rb
  sig/anycable/broadcast_adapters/nats.rbs
  sig/anycable/config.rbs
  spec/anycable/broadcast_adapters/nats_spec.rb
  spec/anycable/config_spec.rb
Due: mdl, liche, forspell

feat: nats adapter
  .circleci/Gemfile
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  cli/options.go
  cli/usage.txt
  cmd/anycable-go/main.go
  cmd/gobench-cable/main.go
  config/config.go
  docs/configuration.md
  go.mod
  go.sum
  pubsub/nats.go
  pubsub/subscriber.go
Due: lint, mdl, liche, forspell

ci: upgrade xcode version
  .circleci/config.yml
Due: none

refactor: more metrics decoupling
  metrics/metrics.go
  metrics/noop.go
  node/node.go
  node/session.go
  rpc/rpc.go
Due: lint

docs(pro): update apollo
  docs/apollo.md
  forspell.dict
Due: mdl, liche, forspell

chore: upgrade golangci-lint
  Makefile
  pubsub/http.go
  server/server.go
Due: lint

Bump 1.2.4
  CHANGELOG.md
  lib/anycable/version.rb
Due: none

Bump 1.2.2
  CHANGELOG.md
  version/version.go
Due: lint

feat: add Reconnect and Reason to common.Reply
  common/common.go
Due: lint

feat: session.SetIdleTimeout
  node/node.go
  node/session.go
Due: lint

chore: upd common.Reply
  common/common.go
Due: lint

test: wsdirector scenarios
  .circleci/Gemfile
  .github/workflows/test.yml
  Makefile
  benchmarks/runner.rb
Due: none

fix(runner): do not fail if no scenarios found
  benchmarks/runner.rb
Due: none

backers: davidklsn
  BACKERS.md
Due: none

ci: upgrade wsdirector
  .circleci/Gemfile
Due: none

refactor(rpc): introduce barrier interface
  rpc/rpc.go
  rpc/rpc_test.go
Due: lint

Refactor CLI
  Readme.md
  cli/cli.go
  cli/options.go
  cli/options_test.go
  cli/runner.go
  cli/runner_options.go
  cli/usage.txt
  cmd/anycable-go/main.go
  cmd/gobench-cable/main.go
  config/config.go
  go.mod
  go.sum
  metrics/config.go
  metrics/metrics.go
  pubsub/http.go
  pubsub/redis.go
  rpc/config.go
  ws/config.go
Due: lint

fix(cli): option names
  cli/cli.go
  cli/options.go
Due: lint

lint: liche -> lychee
  .github/workflows/docs-lint.yml
  lefthook.yml
Due: none

refactor(cli): runner -> cli
  cli/cli.go
  cli/options.go
  cli/runner.go
Due: lint

refactor: extract metrics from barrier
  rpc/barrier.go
  rpc/rpc.go
  rpc/rpc_test.go
Due: lint

refactor: extract hub, add session.Subscriptions
  .golangci.yml
  common/common.go
  encoders/encoding_cache.go
  encoders/encoding_cache_test.go
  hub/hub.go
  hub/hub_test.go
  node/node.go
  node/node_mocks_test.go
  node/node_test.go
  node/session.go
  node/session_test.go
Due: lint

refactor(cli): do not rely on os in app packages
  cli/cli_test.go
  cli/options.go
  cmd/anycable-go/main.go
  cmd/gobench-cable/main.go
Due: lint

Path conditions:
  lint: any of: *.go
  mdl: any of: docs/*.md
  liche: any of: docs/*.md
  forspell: any of: docs/*.md
