Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.go"
      run: make lint && test "{staged_files}"
    mdl:
      glob: "docs/*.md"
      run: mdl {staged_files}
    liche:
      glob: "docs/*.md"
      run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"
    forspell:
      glob: "docs/*.md"
      run: forspell {staged_files}

pre-push:
  commands:
    test:
      glob: "*.go"
      files: "git diff --name-only HEAD @{push}"
      run: make test && test "{files}"

feat: add secret and broadcast_key config options
  lib/anycable/broadcast_adapters/http.rb
  lib/anycable/config.rb
  lib/anycable/httrpc/server.rb
  sig/anycable/config.rbs
  spec/anycable/broadcast_adapters/http_spec.rb
  spec/anycable/config_spec.rb
  spec/integrations/cli/options_spec.rb
Due: none

feat: JWT support
  CHANGELOG.md
  lib/anycable.rb
  lib/anycable/config.rb
  lib/anycable/jwt.rb
  lib/anycable/serializer.rb
  sig/anycable/config.rbs
  sig/anycable/jwt.rbs
  sig/anycable/serializer.rbs
  spec/anycable/jwt_spec.rb
  spec/anycable/middleware_chain_spec.rb
  spec/anycable/serializer_spec.rb
Due: none

Bump 1.5.0.rc.1
  lib/anycable/version.rb
Due: none

Bump 1.5.0-rc.1
  CHANGELOG.md
  version/version.go
Due: lint

fix(rbs): Streams signature
  lib/anycable/streams.rb
  sig/anycable/streams.rbs
Due: none

fix: update grpc-protobuf requirement to match grpc gem
  anycable-core.gemspec
  anycable.gemspec
Due: none

feat: streams signing support
  .rubocop-md.yml
  CHANGELOG.md
  docs/non_rails.md
  lib/anycable.rb
  lib/anycable/config.rb
  lib/anycable/streams.rb
  sig/anycable/streams.rbs
  spec/anycable/config_spec.rb
  spec/anycable/streams_spec.rb
Due: mdl, liche, forspell

docs: upgrade for 1.5
  docs/broadcast_adapters.md
  docs/cli.md
  docs/configuration.md
  docs/exceptions.md
  docs/health_checking.md
  docs/http_rpc.md
  docs/logging.md
  docs/middlewares.md
  docs/non_rails.md
  forspell.dict
Due: mdl, liche, forspell

Bump 1.4.4
  lib/anycable/version.rb
Due: none

fix: enats unsupported signature
  enats/enats_unsupported.go
Due: lint

feat: allow specifying CORS headers for broadcast endpoint
  broadcast/http.go
  cli/options.go
Due: lint

docs: --redis_disable_cache
  docs/configuration.md
Due: mdl, liche, forspell

feat: transient and typed publications
  broker/memory.go
  broker/nats.go
  common/common.go
  hub/gate.go
  node/broker_integration_test.go
Due: lint

fix(style): +=
  broadcast/http.go
Due: lint

refactor: use channel state to store whisper stream
  common/common.go
  etc/anyt/broadcast_tests/whisper_test.rb
  node/node.go
  node/node_test.go
Due: lint

feat: node.Whisper
  common/common.go
  node/node.go
  node/node_test.go
Due: lint

feat: pub/sub whispering + docs
  cli/options.go
  docs/signed_streams.md
  etc/anyt/broadcast_tests/whisper_test.rb
  node/node.go
  node/node_test.go
  streams/config.go
  streams/controller.go
  streams/controller_test.go
Due: lint, mdl, liche, forspell

docs: upd jwt and signed streams
  docs/jwt_identification.md
  docs/signed_streams.md
Due: mdl, liche, forspell

docs: changelog whispering
  CHANGELOG.md
Due: none

fix: grpc keepalive settings
  CHANGELOG.md
  forspell.dict
  lib/anycable/grpc/config.rb
  spec/anycable/grpc/config_spec.rb
Due: none

feat: socket.whisper
  lib/anycable/socket.rb
  spec/anycable/rpc/handlers/command_spec.rb
  spec/support/test_factory.rb
Due: none

tests: use whisper: true in anyt tests
  etc/anyt/broadcast_tests/whisper_test.rb
Due: none

ci(pro): pro actions configuration
  .github/workflows/docs-lint.yml
  .github/workflows/lint.yml
  .github/workflows/pro-release-binaries.yml
  .github/workflows/pro-release-docker.yml
  .github/workflows/push-stable.yml
  .github/workflows/release-binaries.yml
  .github/workflows/test.yml
  Makefile
  Readme.md
  version/version.go
Due: lint

feat(pro): graphql protocols
  CHANGELOG.PRO.md
  cli/cli.go
  cli/options.go
  config/config.go
  graphql/config.go
  graphql/executor.go
  graphql/executor_test.go
  graphql/gql.go
  graphql/gql_test.go
Due: lint

feat(pro): JWT id support in graphql
  CHANGELOG.PRO.md
  cli/cli.go
  cli/options.go
  cli/usage.txt
  features/apollo_init_timeout.testfile
  features/apollo_jwt.testfile
  graphql/config.go
  graphql/executor.go
  graphql/executor_test.go
  graphql/gql.go
Due: lint

feat(pro): add msgpack and protobuf support
  Makefile
  ac_protos/action_cable.pb.go
  cli/cli.go
  cli/session_options.go
  common/common.go
  encoders/encoder.go
  encoders/msgpack.go
  encoders/msgpack_test.go
  encoders/protobuf.go
  encoders/protobuf_test.go
  etc/action_cable.proto
  features/encoders.benchfile
  features/encoders_test.go
  go.mod
  go.sum
  graphql/executor_test.go
  node/session.go
Due: lint

feat(pro): netpoll
  Makefile
  cli/cli.go
  cli/options.go
  features/goroutines.benchfile
  features/pools.benchfile
  go.mod
  go.sum
  graphql/executor.go
  graphql/executor_test.go
  netpoll/LICENSE
  netpoll/epoll.go
  netpoll/handle.go
  netpoll/handle_stub.go
  netpoll/handle_unix.go
  netpoll/kqueue.go
  netpoll/netpoll.go
  netpoll/netpoll_epoll.go
  netpoll/netpoll_kqueue.go
  netpoll/netpoll_stub.go
  netpoll/util.go
  node/config.go
  node/node.go
  node/node_mocks_test.go
  node/session.go
  ws/connection.go
Due: lint

feat(pro): graphql-ws support
  CHANGELOG.PRO.md
  cli/cli.go
  features/apollo_init_timeout.testfile
  features/encoders_test.go
  features/grahql_ws.testfile
  graphql/config.go
  graphql/encoder.go
  graphql/encoder_test.go
  graphql/legacy_encoder.go
  graphql/legacy_executor.go
  graphql/legacy_executor_test.go
  graphql/legacy_test.go
Due: lint

bump(pro): 1.2.2
  CHANGELOG.PRO.md
Due: none

feat(pro): rpc auto concurrency
  CHANGELOG.PRO.md
  cli/options.go
  rpc/config.go
  rpc/rpc.go
  rpc/smart_barrier.go
  rpc/smart_barrier_test.go
Due: lint

Bump 1.3.0
  CHANGELOG.PRO.md
Due: none

feat(pro): OCPP support
  CHANGELOG.PRO.md
  cli/cli.go
  cli/options.go
  config/config.go
  etc/ocpp/ocpp_channel.rb
  etc/ocpp/simulator_v6_SETEL.html
  ocpp/config.go
  ocpp/encoder.go
  ocpp/encoder_test.go
  ocpp/executor.go
  ocpp/executor_test.go
  ocpp/ocpp.go
  utils/utils.go
Due: lint

feat(pro): long polling
  cli/cli.go
  cli/options.go
  config/config.go
  features/long_polling.testfile
  lp/config.go
  lp/connection.go
  lp/connection_test.go
  lp/handler.go
  lp/handler_test.go
  lp/hub.go
  lp/hub_test.go
  ocpp/executor.go
  ocpp/executor_test.go
  telemetry/telemetry.go
Due: lint

chore(pro): telemetry
  telemetry/telemetry.go
  telemetry/telemetry_test.go
Due: lint

feat(pro): msgpack and protobuf support for extended protocol
  ac_protos/action_cable.pb.go
  cli/session_options.go
  common/common.go
  encoders/legacy_protobuf.go
  encoders/legacy_protobuf_test.go
  encoders/msgpack_test.go
  etc/action_cable.proto
Due: lint

feat(pro): admin ui
  admin/handler.go
  admin/ui/assets/anycable-elements.js
  admin/ui/home.html
  admin/ui/index.html
  admin/ui/layout.html
  admin/ui/logs.html
  admin/ui/nav.html
Due: lint

Log streaming/tracing for admins (#21)
  .github/workflows/pro-release-binaries.yml
  .github/workflows/pro-release-docker.yml
  admin/admin.go
  admin/config.go
  admin/controller.go
  admin/handler.go
  admin/streams.go
  admin/ui/.gitignore
  admin/ui/app.css
  admin/ui/assets/logo.png
  admin/ui/index.html
  admin/ui/tailwind.config.js
  cli/cli.go
  cli/options.go
  config/config.go
  features/admin_logs.testfile
  logger/tracer.go
  logger/tracer_test.go
Due: lint
