Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.go"
      run: make lint && test "{staged_files}"
    mdl:
      glob: "docs/*.md"
      run: mdl {staged_files}
    liche:
      glob: "docs/*.md"
      run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"
    forspell:
      glob: "docs/*.md"
      run: forspell {staged_files}

pre-push:
  commands:
    test:
      glob: "*.go"
      files: "git diff --name-only HEAD @{push}"
      run: make test && test "{files}"

fix: pong timer
  features/ping_pong.testfile
  node/session.go
Due: lint

ci: try to fix logger issue
  Gemfile
Due: none

refactor: extract SessionTimers
  CHANGELOG.md
  node/node_mocks_test.go
  node/session.go
Due: lint

feat: grpc request timeouts
  CHANGELOG.md
  cli/options.go
  docs/instrumentation.md
  docs/rpc.md
  node/node_test.go
  rpc/config.go
  rpc/grpc_test.go
  rpc/http.go
  rpc/http_test.go
  rpc/rpc.go
  rpc/rpc_test.go
Due: lint, mdl, liche, forspell

feat: publications_total and remote_commands_total metrics
  CHANGELOG.md
  docs/instrumentation.md
  node/node.go
Due: lint, mdl, liche, forspell

fix: enable presence by default for signed streams
  cli/options.go
  node/node.go
  streams/config.go
  streams/controller_test.go
Due: lint

docs: fix link to legacy releases
  docs/getting_started.md
Due: mdl, liche, forspell

chore: version 1.6.0
  version/version.go
Due: lint

docs: add hotwire presence example
  docs/presence.md
Due: mdl, liche, forspell

fix: broadcast leave on usubscribe
  node/node.go
  node/node_test.go
Due: lint

fix: handle Redis X options
  cli/options.go
Due: lint

feat: jwt header is added to proxy headers by default
  CHANGELOG.md
  cli/cli.go
  features/jwt.testfile
  features/sse.testfile
  identity/jwt.go
  server/headers_extractor.go
  server/headers_extractor_test.go
Due: lint

feat: support passing auth token via sub-protocol
  CHANGELOG.md
  docs/jwt_identification.md
  features/jwt.testfile
  server/headers_extractor.go
  server/headers_extractor_test.go
Due: lint, mdl, liche, forspell

refactor: trigger presence events from broker
  broker/broker.go
  broker/memory.go
  broker/memory_test.go
  broker/nats.go
  broker/presence.go
  broker/presenter_test.go
  cli/cli.go
  cli/runner_options.go
  node/broker_integration_test.go
  node/node.go
  node/node_test.go
Due: lint

test: increase timeout
  Makefile
Due: none

internal: extract node.BuildSession
  node/node_mocks_test.go
  node/session.go
Due: lint

fix: reset handshakeDeadline on activation
  node/session.go
Due: lint

feat: ws_write_timeout = 2
  CHANGELOG.md
  cli/cli.go
  cli/options.go
  cli/session_options.go
  node/session.go
  ws/config.go
Due: lint

feat: use queue for session writes
  CHANGELOG.md
  cli/options.go
  cli/session_options.go
  common/common.go
  node/node.go
  node/session.go
  node/session_test.go
  utils/queue.go
  utils/queue_test.go
  ws/config.go
Due: lint

ci: upgrade actions/cache
  .github/workflows/release-binaries.yml
  .github/workflows/release-docker.yml
Due: none

Fix unsubscribe bug in hub.go
  CHANGELOG.md
  hub/hub.go
  hub/hub_test.go
Due: lint

docs: add formula to estimate Redis broker memory usage
  docs/reliable_streams.md
Due: mdl, liche, forspell

readme: fix release link
  Readme.md
Due: none

ci: upgrade Redis to 7.4
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Due: none

refactor(mem broker): user presenter instead of broadaster to notify leave
  broker/memory.go
Due: lint

fix: use broker to broadcast presence events
  node/node.go
  node/node_test.go
Due: lint

refactor: extract generic Redis stream consumer from broadcaster
  broadcast/redis.go
  broadcast/redis_test.go
  redis/streamer.go
  redis/streamer_test.go
Due: lint

docs: add Redis presence
  docs/presence.md
  docs/reliable_streams.md
Due: mdl, liche, forspell

Bump 1.6.0
  CHANGELOG.md
  docs/broadcasting.md
  docs/configuration.md
  docs/getting_started.md
  docs/rpc.md
Due: mdl, liche, forspell

docs: add link to the blog post in presence
  docs/presence.md
Due: mdl, liche, forspell

Bump npm 1.6.0
  packaging/npm/package.json
Due: none

docs: add not about Redis 7.4+ for presence
  docs/presence.md
Due: mdl, liche, forspell

fix: do not crash if no streams secret set and signed stream connects
  streams/controller.go
  streams/controller_test.go
  utils/message_verifier_test.go
Due: lint

Fix option description for ws_max_pending_size
  cli/options.go
Due: lint

Fix tests for maxPendingSize check
  node/session_test.go
Due: lint

make lint
  node/session_test.go
Due: lint

wording
  node/session_test.go
Due: lint
