Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lint:
  run: make lint && test "{staged_files}"

mdl:
  run: mdl {staged_files}

liche:
  run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"

forspell:
  run: forspell {staged_files}

fix(pusher): connection data must be string
  pusher/encoder.go
  pusher/encoder_test.go
Due: lint

- pusher: disable disconnect notices
  cli/cli.go
Due: lint

Bump 1.6.3
  CHANGELOG.md
  version/version.go
Due: lint

feat: support native ws pings
  CHANGELOG.md
  cli/cli.go
  cli/options.go
  cli/session_options.go
  mocks/MockConnection.go
  node/config.go
  node/node.go
  node/session.go
  sse/connection.go
  ws/connection.go
Due: lint

Bump 1.6.4
  CHANGELOG.md
  packaging/npm/package.json
  version/version.go
Due: lint

feat: add shutdown_delay config option
  cli/cli.go
  cmd/embedded-cable/main.go
  lefthook.yml
  node/config.go
  utils/graceful_signals.go
Due: lint

feat: add CLI option too
  cli/options.go
Due: lint

fix: make Sleeper a Shutdownable
  cli/cli.go
  cmd/embedded-cable/main.go
  utils/graceful_signals.go
  utils/sleeper.go
Due: lint

Bump go to 1.23.12
  go.mod
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

run: go mod tidy
  go.mod
Due: none

Only update toolchain
  go.mod
Due: none

Bump 1.6.5
  CHANGELOG.md
  version/version.go
Due: lint

- rpc/http.go: add client timeout
  rpc/http.go
Due: lint

* k6: update echo scenario
  etc/k6/echo.js
Due: none

fix(redis): do not allow sharing the same channel for pub/sub and broadcasting
  CHANGELOG.md
  cli/options.go
  pubsub/redis.go
  redis/config.go
  redis/config_test.go
Due: lint

Bump 1.6.6
  CHANGELOG.md
  version/version.go
Due: lint

Bump npm 1.6.6
  packaging/npm/package.json
Due: none

- node: check if session closed before processing RPC results
  CHANGELOG.md
  etc/k6/echo.js
  node/node.go
Due: lint

+ rpc/rpc.go: accept external context and handle cancellation
  CONTRIBUTING.md
  gobench/gobench.go
  mocks/controller.go
  mocks/mock_controller.go
  node/controller.go
  node/node.go
  node/session.go
  node_mocks/AppNode.go
  node_mocks/Executor.go
  rpc/grpc_test.go
  rpc/rpc.go
  rpc/rpc_test.go
Due: lint

* support context in all controllers
  CHANGELOG.md
  identity/identity.go
  identity/identity_test.go
  node/broker_integration_test.go
  node/node_test.go
  pusher/controller.go
  pusher/controller_test.go
  pusher/executor_test.go
  router/router.go
  router/router_test.go
  rpc/rpc_test.go
  sse/handler_test.go
  streams/controller.go
  streams/controller_test.go
Due: lint

+ docs: rpc_canceled_total
  docs/instrumentation.md
Due: mdl, liche, forspell

feat(metrics): detailed memory metrics
  CHANGELOG.md
  docs/instrumentation.md
  node/node.go
Due: lint, mdl, liche, forspell

fix(docker): use bookworm for mrb images
  .docker/Dockerfile.mrb-linux-amd64
Due: none

+ make run-docker
  Makefile
Due: none

* node: more whisper tests
  node/node.go
  node/node_test.go
Due: lint

* minor cached encoding updates
  common/common.go
  node/session.go
Due: lint

Bump go to 1.25.3
  go.mod
Due: none

Update go to 1.24
  go.mod
Due: none

Path conditions:
  lint: any of: *.go
  mdl: any of: docs/*.md
  liche: any of: docs/*.md
  forspell: any of: docs/*.md
