Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lint:
  run: make lint && test "{staged_files}"

mdl:
  run: mdl {staged_files}

liche:
  run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"

forspell:
  run: forspell {staged_files}

ci: use Rails 7.0 temporary
  .circleci/Gemfile
  features/runner.rb
Due: none

docs: fix tables style
  docs/binary_formats.md
Due: mdl, liche, forspell

fix: default Redis db must be the same as in the gem
  redis/config.go
Due: lint

Bump 1.4.5
  CHANGELOG.md
  version/version.go
Due: lint

Bump 1.4.3
  CHANGELOG.md
  docs/broadcast_adapters.md
  lib/anycable/version.rb
Due: mdl, liche, forspell

feat: embed NATS by default on Fly (if needed)
  CHANGELOG.md
  config/presets.go
  config/presets_test.go
  docs/configuration.md
Due: lint, mdl, liche, forspell

feat: infer rpc_impl from rpc_host
  CHANGELOG.md
  Makefile
  docs/configuration.md
  rpc/config.go
  rpc/config_test.go
  rpc/rpc.go
  telemetry/telemetry.go
Due: lint, mdl, liche, forspell

Thanks, @kkurian
  BACKERS.md
Due: none

package: @anycable/anycable-go
  Readme.md
  docs/getting_started.md
  packaging/npm/.gitignore
  packaging/npm/bin/index.mjs
  packaging/npm/install.mjs
  packaging/npm/package.json
Due: mdl, liche, forspell

Bump 1.4.6
  CHANGELOG.md
  version/version.go
Due: lint

chore: log failed websocket read
  node/session.go
Due: lint

dev: support different streams in gobench
  gobench/gobench.go
Due: lint

fix(presets): redis broker doesn't depend on broadcaster
  config/presets.go
Due: lint

fix(tests): isolate embedded nats in tests
  broker/nats.go
  broker/nats_test.go
  enats/config.go
  enats/enats.go
  node/broker_integration_test.go
Due: lint

fix: synchronize history retrieval and messages consuming in nats broker
  broker/broker.go
  broker/memory.go
  broker/memory_test.go
  broker/nats.go
  broker/nats_test.go
Due: lint

chore: nats broker integration, configuration, docs
  CHANGELOG.md
  Makefile
  cli/cli.go
  cli/runner_options.go
  config/presets.go
  config/presets_test.go
  docs/configuration.md
  docs/reliable_streams.md
Due: lint, mdl, liche, forspell

feat: nats broker streams caching
  broker/broker.go
  broker/memory.go
  broker/memory_test.go
  broker/nats.go
  broker/nats_test.go
  enats/enats.go
  node/broker_integration_test.go
Due: lint

feat: nats broker epoch calculation
  broker/nats.go
  broker/nats_test.go
Due: lint

feat: nats broker init + sessions cache
  broker/nats.go
  broker/nats_test.go
  enats/config.go
  enats/enats.go
  go.mod
  go.sum
Due: lint

fix: add server_name to enats
  broker/nats.go
  enats/config.go
  enats/enats.go
Due: lint

fix: use replication factor 1 for jet streams, wait for jetstream cluster to be ready
  .mdlrc
  broker/nats.go
  cli/options.go
  docs/reliable_streams.md
  enats/config.go
  enats/enats.go
  features/enats_broker.testfile
Due: lint, mdl, liche, forspell

docker: scratch -> distroless
  .docker/Dockerfile.universal
  Makefile
Due: none

fix: use no ack policy for jetstream consumers
  broker/nats.go
Due: lint

fix: add retries to nats broker, use a random store dir by default
  broker/nats.go
  enats/enats.go
  features/enats_broker.testfile
  go.mod
  go.sum
Due: lint

dev: add broker benchmarks
  etc/k6/broker.js
  etc/k6/results/2023-10-broker.md
  etc/traefik/rules.toml
  etc/traefik/traefik.yml
Due: none

feat: smarter fly presets for clusters
  CHANGELOG.md
  config/presets.go
  config/presets_test.go
  docs/configuration.md
  fly/fly.go
  fly/fly_test.go
  go.mod
  go.sum
  mocks/dns.go
Due: lint, mdl, liche, forspell

lint: in the shadow of errs
  broker/nats.go
Due: lint

fix: pick correct broadcast adapter on Fly
  config/presets.go
  config/presets_test.go
  docs/configuration.md
Due: lint, mdl, liche, forspell

Revert "feat: smarter fly presets for clusters"
  CHANGELOG.md
  config/presets.go
  config/presets_test.go
  docs/configuration.md
  fly/fly.go
  fly/fly_test.go
  go.mod
  go.sum
  mocks/dns.go
Due: lint, mdl, liche, forspell

fix: avoid race conditions in nats epoch calculation
  broker/nats.go
  broker/nats_test.go
  docs/reliable_streams.md
  enats/enats.go
Due: lint, mdl, liche, forspell

fix: infer nats server name FLY_ALLOC_ID
  cli/options.go
  config/presets.go
  config/presets_test.go
Due: lint

refactor: nats broker retrying logic
  broker/nats.go
Due: lint

fix: watch nats epoch changes
  broker/broker.go
  broker/memory.go
  broker/nats.go
  broker/nats_test.go
Due: lint

fix: initialize jetstream cluster asynchronously
  broker/broker.go
  broker/memory.go
  broker/nats.go
  broker/nats_test.go
  cli/cli.go
  enats/enats.go
  features/enats_broker.testfile
  mocks/Broker.go
  node/broker_integration_test.go
  node/node.go
Due: lint

refactor: extract utils.NextRetry, add retry to initJetStream
  broadcast/legacy_redis.go
  broadcast/redis.go
  broker/nats.go
  pubsub/redis.go
  utils/utils.go
Due: lint

fix: publish broadcasts independently on local streams
  broker/memory.go
  broker/nats.go
Due: lint

Bump 1.4.7
  CHANGELOG.md
  version/version.go
Due: lint

docs: update nats broker docs
  docs/reliable_streams.md
Due: mdl, liche, forspell

Bump npm package 1.4.7
  packaging/npm/package.json
Due: none

Document in CHANGELOG.md
  CHANGELOG.md
Due: none

Path conditions:
  lint: any of: *.go
  mdl: any of: docs/*.md
  liche: any of: docs/*.md
  forspell: any of: docs/*.md
