Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.go"
      run: make lint && test "{staged_files}"
    mdl:
      glob: "docs/*.md"
      run: mdl {staged_files}
    liche:
      glob: "docs/*.md"
      run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"
    forspell:
      glob: "docs/*.md"
      run: forspell {staged_files}

pre-push:
  commands:
    test:
      glob: "*.go"
      files: "git diff --name-only HEAD @{push}"
      run: make test && test "{files}"

chore: benchmarks/ -> features/
  .github/workflows/test.yml
  Makefile
  features/broadcasts.benchfile
  features/goroutines.benchfile
  features/metrics.testfile
  features/mruby_printers.testfile
  features/runner.rb
  features/simple_logger.rb
Due: none

tests(feature): enats cluster
  features/enats_clusters.testfile
Due: none

tests: refactor goroutines.benchfile
  features/goroutines.benchfile
Due: none

ci: add benchmarks to tests
  .github/workflows/test.yml
Due: none

docs: upd broadcast adapters for v1.4
  docs/broadcast_adapters.md
Due: mdl, liche, forspell

feat: split pubsub into broadcaster and subscriber
  CHANGELOG.md
  broadcast/broadcast.go
  broadcast/http.go
  broadcast/http_test.go
  broadcast/nats.go
  broadcast/redis.go
  broker/broker.go
  broker/memory.go
  cli/cli.go
  cli/options.go
  cli/runner_options.go
  cmd/anycable-go/main.go
  cmd/gobench-cable/main.go
  common/common.go
  common/common_test.go
  config/config.go
  docs/broker.md
  mocks/Broadcaster.go
  mocks/Broker.go
  mocks/Subscriber.go
  node/broker_integration_test.go
  node/node.go
  node/node_mocks_test.go
  node/node_test.go
  pubsub/subscriber.go
  pubsub/subscriber_test.go
Due: lint, mdl, liche, forspell

docs: pubsub
  docs/broker.md
  docs/pubsub.md
Due: mdl, liche, forspell

dev: upgrade golangci-lint
  Makefile
  hub/hub_test.go
Due: lint

feat: introducing broker
  .github/workflows/test.yml
  Makefile
  broker/broker.go
  broker/config.go
  broker/memory.go
  broker/memory_test.go
  cli/cli.go
  cli/options.go
  cli/runner_options.go
  cmd/anycable-go/main.go
  cmd/gobench-cable/main.go
  common/common.go
  common/common_test.go
  config/config.go
  etc/anyt/broker_tests/history_test.rb
  etc/anyt/broker_tests/restore_test.rb
  hub/hub_test.go
  identity/identity.go
  identity/identity_test.go
  identity/jwt.go
  identity/jwt_test.go
  mocks/Broker.go
  node/broker_integration_test.go
  node/node.go
  node/node_test.go
  node/session.go
  node/session_test.go
  ws/handler.go
Due: lint

docs: broker
  docs/broker.md
  docs/configuration.md
  forspell.dict
Due: mdl, liche, forspell

feat: support multiple broadcasters
  broadcast/http.go
  broadcast/legacy_redis.go
  cli/cli.go
  cli/options.go
  cli/runner_options.go
Due: lint

feat: add confirm_history and reject_history messages
  common/common.go
  node/broker_integration_test.go
  node/node.go
  node/node_test.go
Due: lint

feat: nats pub/sub
  .github/workflows/test.yml
  Makefile
  cli/runner_options.go
  nats/config.go
  pubsub/nats.go
  pubsub/nats_test.go
Due: lint

refactor: mark existing redis/nats broadcasters as legacy
  broadcast/broadcast.go
  broadcast/http.go
  broadcast/legacy_nats.go
  broadcast/legacy_redis.go
  cli/cli.go
  cli/runner_options.go
Due: lint

refactor: extract global Redis and NATS configs
  broadcast/legacy_nats.go
  broadcast/legacy_redis.go
  cli/options.go
  cli/runner_options.go
  config/config.go
  nats/config.go
  pubsub/subscriber_test.go
  redis/redis.go
Due: lint

fix: make legacy broadcasters not use broker at all
  broadcast/broadcast.go
  broadcast/http.go
  broadcast/http_test.go
  cli/cli.go
  mocks/Handler.go
  node/broker_integration_test.go
  node/node.go
Due: lint

feat: redis pub/sub
  .github/workflows/test.yml
  Makefile
  cli/runner_options.go
  go.mod
  go.sum
  pubsub/redis.go
  pubsub/redis_test.go
  redis/config_test.go
  redis/redis.go
Due: lint

fix: redis pub/sub should try to reconnect on start without crashing the server
  pubsub/redis.go
  pubsub/redis_test.go
Due: lint

chore: fix prev sid extraction, add ext protocol
  common/common.go
  node/session_test.go
  ws/handler.go
  ws/handler_test.go
Due: lint

version: 1.4.0
  version/version.go
Due: lint

docs: more broker docs
  docs/broker.md
Due: mdl, liche, forspell

make: build arm binaries for linux
  Makefile
Due: none

feat: grpc_kit health service
  .rubocop.yml
  CHANGELOG.md
  lib/anycable/grpc_kit/health_checker.rb
  lib/anycable/grpc_kit/health_pb.rb
  lib/anycable/grpc_kit/health_services_pb.rb
  lib/anycable/grpc_kit/server.rb
  spec/integrations/grpc/health_check_spec.rb
  spec/spec_helper.rb
  spec/support/with_grpc_server.rb
Due: none

style: :cop
  lib/anycable/broadcast_adapters/http.rb
Due: none

ci: use Ruby 3.2 for steep
  .github/workflows/lint.yml
Due: none

fix: temprorary use older parallel gem to work with steep
  gemfiles/rbs.gemfile
Due: none

docker: fix dockefiles to correctly pick binary for a platform
  .docker/Dockerfile.alpine
  .docker/Dockerfile.universal
Due: none

docs: add quick start to broker
  docs/broker.md
Due: mdl, liche, forspell

ci: disable edge docker builds in circle
  .circleci/config.yml
Due: none

ci: add release-docker workflow
  .docker/Dockerfile.mrb-linux-amd64
  .github/workflows/release-docker.yml
Due: none

ci: remove docker builds from circle
  .circleci/config.yml
Due: none

docs: broker anycable-go version
  docs/broker.md
Due: mdl, liche, forspell

feat: add try-broker configuration preset
  CHANGELOG.md
  broadcast/http.go
  broadcast/legacy_nats.go
  broadcast/legacy_redis.go
  cli/cli.go
  cli/options.go
  cli/runner_options.go
  config/presets.go
  config/presets_test.go
  docs/broker.md
Due: lint, mdl, liche, forspell

docs: upd pro headers
  docs/apollo.md
  docs/binary_formats.md
Due: mdl, liche, forspell

make: update build-all to match binaries from releases
  Makefile
Due: none

feat(config): add http_broadcast_port <- PORT to heroku preset
  CHANGELOG.md
  config/presets.go
  config/presets_test.go
  docs/configuration.md
Due: lint, mdl, liche, forspell

typo: usage example in redis.rb
  lib/anycable/broadcast_adapters/redis.rb
Due: none

docs: upd broker sequence diagram
  docs/broker.md
Due: mdl, liche, forspell

chore: use steep <1.4
  gemfiles/rbs.gemfile
Due: none
