Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lint:
  run: make lint && test "{staged_files}"

mdl:
  run: mdl {staged_files}

liche:
  run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"

forspell:
  run: forspell {staged_files}

ci: push-stable -> 1.4
  .github/workflows/push-stable.yml
Due: none

ci: push-stable 1.4
  .github/workflows/push-stable.yml
Due: none

ci: fix mrb docker image config
  .docker/Dockerfile.mrb-linux-amd64
  .github/workflows/release-docker.yml
Due: none

deps: require grpc >= 1.53.0
  anycable.gemspec
Due: none

docs: add note about anycable-rails-core
  docs/http_rpc.md
Due: mdl, liche, forspell

Allow to receive secure gRPC connections
  CHANGELOG.md
  docs/configuration.md
  lib/anycable/grpc/config.rb
  lib/anycable/grpc/server.rb
Due: mdl, liche, forspell

Add missing type annotations and change code to satisfy Steep nil checks
  lib/anycable/grpc/config.rb
  lib/anycable/grpc/server.rb
  sig/anycable/grpc/config.rbs
  sig/vendor/grpc.rbs
Due: none

Add specs for coveralls
  spec/anycable/grpc/config_spec.rb
Due: none

Add support for TLS for grpc_kit-based server
  lib/anycable/grpc/config.rb
  lib/anycable/grpc/server.rb
  lib/anycable/grpc_kit/server.rb
  sig/anycable/grpc/config.rbs
  sig/anycable/grpc/server.rbs
  spec/anycable/grpc/config_spec.rb
Due: none

Fix typos
  docs/broker.md
Due: mdl, liche, forspell

Fix default Redis URL in documentation
  docs/configuration.md
  lib/anycable/config.rb
Due: mdl, liche, forspell

fix: rubocop / rbs
  sig/anycable/grpc/server.rbs
  spec/anycable/grpc/config_spec.rb
Due: none

tests: update ssl tests to use rpc over tls
  Makefile
Due: none

Allow to configure secure connection to RPC server
  CHANGELOG.md
  cli/options.go
  docs/configuration.md
  rpc/config.go
  rpc/http.go
  rpc/rpc.go
Due: lint, mdl, liche, forspell

Implicitly enable TLS for RPC client if CA root cert is specified
  rpc/config.go
  rpc/rpc.go
Due: lint

Bump 1.4.1
  CHANGELOG.md
  lib/anycable/version.rb
Due: none

Bump 1.4.1
  CHANGELOG.md
  version/version.go
Due: lint

Fix default http_broadcast_url in documentation
  docs/broadcast_adapters.md
Due: mdl, liche, forspell

fix(broker): check for memstream emptiness when retrieving history
  broker/memory.go
  broker/memory_test.go
Due: lint

feat: --shutdown_timeout
  CHANGELOG.md
  cli/cli.go
  cli/options.go
  docs/configuration.md
  features/shutdown.testfile
  hub/hub.go
  node/broker_integration_test.go
  node/config.go
  node/disconnect_queue.go
  node/disconnect_queue_test.go
  node/disconnector.go
  node/node.go
Due: lint, mdl, liche, forspell

refactor: Shutdown() -> Shutdown(ctx)
  broadcast/broadcast.go
  broadcast/http.go
  broadcast/legacy_nats.go
  broadcast/legacy_redis.go
  broadcast/redis.go
  broadcast/redis_test.go
  broker/broker.go
  broker/memory.go
  cli/cli.go
  enats/enats.go
  enats/enats_unsupported.go
  hub/hub.go
  metrics/metrics.go
  mocks/Broker.go
  mocks/Subscriber.go
  node/broker_integration_test.go
  node/node.go
  pubsub/nats.go
  pubsub/nats_test.go
  pubsub/redis.go
  pubsub/redis_test.go
  pubsub/subscriber.go
  pubsub/subscriber_test.go
  server/server.go
  telemetry/telemetry.go
  telemetry/telemetry_test.go
Due: lint

chore: deprecate --disconnect_timeout
  CHANGELOG.md
  cli/options.go
  node/disconnect_queue.go
Due: lint

refactor: replace tebata with custom signal handling logic
  cli/cli.go
  go.mod
  go.sum
  utils/graceful_signals.go
Due: lint

refactor: disconnect sessions concurrently
  cli/options.go
  hub/hub.go
  node/config.go
  node/node.go
  rpc/rpc.go
Due: lint

refactor: add disconnectScheduler to control sessions disconnection on shutdown
  node/node.go
Due: lint

docs(pro): slow drain disconnection
  docs/configuration.md
Due: mdl, liche, forspell

docs(pro): mention max drain interval
  docs/configuration.md
Due: mdl, liche, forspell

Bump 1.4.2
  CHANGELOG.md
  version/version.go
Due: lint

fix: do not allow setting rpc concurrency to <= 0
  cli/runner_options.go
  cmd/rpcbench/main.go
  rpc/barrier.go
  rpc/rpc.go
  rpc/rpc_test.go
Due: lint

fix: memory broker retrieval with re-created streams
  CHANGELOG.md
  broker/memory.go
  broker/memory_test.go
  node/node.go
Due: lint

feat: start sending pings with a random initial jitter
  node/session.go
Due: lint

feat: per-client ping configuration
  CHANGELOG.md
  cli/cli.go
  cli/session_options.go
  docs/configuration.md
  features/ping.testfile
  node/session.go
  server/request_info.go
  server/request_info_test.go
Due: lint, mdl, liche, forspell

refactor: extract protocol-specific session configuration
  broker/broker.go
  cli/options.go
  cli/session_options.go
  common/common.go
  etc/anyt/broker_tests/restore_test.rb
  node/broker_integration_test.go
  node/node.go
  node/node_mocks_test.go
  node/node_test.go
  node/session.go
  node/session_test.go
  server/request_info.go
  server/request_info_test.go
Due: lint

Path conditions:
  lint: any of: *.go
  mdl: any of: docs/*.md
  liche: any of: docs/*.md
  forspell: any of: docs/*.md
