Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lint:
  run: make lint && test "{staged_files}"

mdl:
  run: mdl {staged_files}

liche:
  run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"

forspell:
  run: forspell {staged_files}

docs(pro): adaptive rpc concurrency
  docs/configuration.md
Due: mdl, liche, forspell

fix(cli): do not overwrite shutdownables
  cli/cli.go
Due: lint

feat: add enats service basic implementation
  enats/enats.go
Due: lint

feat(enats): gateway configuration
  cli/options.go
  docs/embedded_nats.md
  enats/enats.go
  etc/nats/README.md
Due: lint, mdl, liche, forspell

docs: embedded NATS
  CHANGELOG.md
  docs/embedded_nats.md
Due: mdl, liche, forspell

tests: embedded NATS conformance
  .github/workflows/test.yml
  Makefile
Due: none

feat: embedded NATS configuration
  cli/cli.go
  cli/options.go
  config/config.go
  enats/enats.go
  go.mod
  go.sum
Due: lint

chore: upgrade nats-server
  go.mod
  go.sum
Due: none

fix: enats is not supported on freebsd/arm
  enats/config.go
  enats/enats.go
  enats/enats_unsupported.go
Due: lint

release-prep: upgrade Ruby, docs updates
  .github/workflows/test.yml
  CHANGELOG.md
  Gemfile
  README.md
  anycable-core.gemspec
  anycable.gemspec
  docs/broadcast_adapters.md
  docs/non_rails.md
  lib/anycable/config.rb
Due: mdl, liche, forspell

feat: config presets
  CHANGELOG.md
  Gemfile
  docs/configuration.md
  lib/anycable/config.rb
  sig/anycable/config.rbs
  spec/anycable/config_spec.rb
  spec/spec_helper.rb
Due: mdl, liche, forspell

feat: configuration presets
  CHANGELOG.md
  cli/cli.go
  cli/options.go
  config/config.go
  config/presets.go
  config/presets_test.go
  docs/configuration.md
Due: lint, mdl, liche, forspell

docs: nats cluster + fly
  docs/embedded_nats.md
Due: mdl, liche, forspell

Bump 1.3.0
  CHANGELOG.md
  lib/anycable/version.rb
Due: none

Bump 1.3.0
  CHANGELOG.md
  version/version.go
Due: lint

feat(config): build enats cluster name from fly env
  config/presets.go
  config/presets_test.go
  docs/configuration.md
Due: lint, mdl, liche, forspell

feat: log nats disconnect/reconnect events
  lib/anycable/broadcast_adapters/nats.rb
  sig/anycable/broadcast_adapters/nats.rbs
  spec/anycable/broadcast_adapters/nats_spec.rb
Due: none

Update Readme.md
  Readme.md
Due: none

docs: fix typo in metrics name
  docs/instrumentation.md
Due: mdl, liche, forspell

docs: add using as a library page
  docs/Readme.md
  docs/library.md
  forspell.dict
Due: mdl, liche, forspell

readme: add link to twilio-hanami post
  README.md
Due: none

forspell: + Twilio
  forspell.dict
Due: none

feat(enats): --gateway_advertise
  CHANGELOG.md
  cli/options.go
  config/presets.go
  enats/config.go
  enats/enats.go
Due: lint

docs: enats_advertise
  docs/configuration.md
  docs/embedded_nats.md
Due: mdl, liche, forspell

Bump 1.3.1
  CHANGELOG.md
  version/version.go
Due: lint

fix(docs): vars interpolation
  docs/configuration.md
Due: mdl, liche, forspell

docs: embedded nats anycasts
  docs/embedded_nats.md
Due: mdl, liche, forspell

docs: add statsd metrics and more metrics descriptions (#167)
  docs/instrumentation.md
Due: mdl, liche, forspell

refactor: move MockConnection to mocks
  mocks/MockConnection.go
  node/node_mocks_test.go
Due: lint

chore: use testify fork
  go.mod
  go.sum
Due: none

feat: node.AuthenticateWithOptions
  node/node.go
  node_mocks/AppNode.go
Due: lint

feat(test): add SessionMatcher for matching mock args
  node_mocks/SessionMatcher.go
Due: lint

feat: session.WriteInternalState/ReadInternalState
  node/session.go
Due: lint

docs: hanami post + broadcast curl
  docs/broadcast_adapters.md
  docs/non_rails.md
Due: mdl, liche, forspell

ci: coveralls
  .github/workflows/test.yml
  .gitignore
  Makefile
Due: none

chore: upgrade to Go 1.20
  .circleci/config.yml
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
  go.mod
Due: none

chore: setup integration coverage
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
  Makefile
Due: none

tests: mruby printer integration test
  Makefile
  benchmarks/mruby_printers.testfile
  benchmarks/runner.rb
  benchmarks/simple_logger.rb
Due: none

fix: metrics shutdown race conditions
  metrics/metrics.go
Due: lint

test: metrics integration test
  benchmarks/metrics.testfile
Due: none

Path conditions:
  lint: any of: *.go
  mdl: any of: docs/*.md
  liche: any of: docs/*.md
  forspell: any of: docs/*.md
