Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.go"
      run: make lint && test "{staged_files}"
    mdl:
      glob: "docs/*.md"
      run: mdl {staged_files}
    liche:
      glob: "docs/*.md"
      run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"
    forspell:
      glob: "docs/*.md"
      run: forspell {staged_files}

pre-push:
  commands:
    test:
      glob: "*.go"
      files: "git diff --name-only HEAD @{push}"
      run: make test && test "{files}"

feat(pro): slow drain shutdown
  cli/options.go
  features/shutdown_slowdrain.testfile
  node/config.go
  node/node.go
  node/slow_drain.go
  node/slow_drain_test.go
Due: lint

ci(pro): add plus-release-docker action
  .github/workflows/plus-release-docker.yml
Due: none

feat(pro): error reporting + Sentry
  cli/cli.go
  erreport/erreport.go
  erreport/log_handler.go
  erreport/log_handler_test.go
  erreport/sentry.go
  features/long_polling.testfile
  go.mod
  go.sum
Due: lint

feat(pro): recognize all protocols from the main endpoint
  cli/cli.go
  cli/session_options.go
  features/grahql_ws.testfile
Due: lint

feat(pro): Redis broker
  CHANGELOG.PRO.md
  Makefile
  broker/redis.go
  broker/redis_test.go
  cli/options.go
  cli/runner_options.go
  config/presets.go
  config/presets_test.go
  node/broker_integration_test.go
Due: lint

Bump 1.5.0
  CHANGELOG.md
  lib/anycable/version.rb
Due: none

fix: truncate http rpc error logs
  rpc/http.go
Due: lint

fix: handle zero rpc concurrency gracefully
  rpc/config.go
  rpc/rpc.go
Due: lint

fix: handle nil log valuers + remove stack traces from error logs
  common/common.go
  logger/logger.go
Due: lint

perf: optimize slog by not calling runtime.Callers
  cmd/anycable-go/main.go
Due: lint

feat: ?stream and ?signed_stream support for SSE
  CHANGELOG.md
  docs/sse.md
  sse/handler_test.go
  sse/sse.go
  utils/message_verifier.go
Due: lint, mdl, liche, forspell

feat: history_since for SSE
  CHANGELOG.md
  docs/sse.md
  features/sse.testfile
  sse/sse.go
Due: lint, mdl, liche, forspell

fix: remove broadcaster warnings
  cli/cli.go
Due: lint

package(npm): 1.5.0
  packaging/npm/bin/index.mjs
  packaging/npm/package.json
Due: none

Bump 1.5.1
  CHANGELOG.md
  packaging/npm/package.json
  version/version.go
Due: lint

fix(docs): correct http rpc link
  docs/configuration.md
Due: mdl, liche, forspell

feat(sse): raw mode
  CHANGELOG.md
  features/sse.testfile
  sse/config.go
  sse/encoder.go
  sse/encoder_test.go
  sse/handler_test.go
  sse/sse.go
Due: lint

fix: style
  sse/encoder_test.go
Due: lint

ci: drop coveralls
  .github/workflows/test.yml
Due: none

fix(ci): go get -> go install
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Due: none

Bump 1.5.2
  CHANGELOG.md
  docs/sse.md
  version/version.go
Due: lint, mdl, liche, forspell

fix(docs): typo
  docs/sse.md
Due: mdl, liche, forspell

ci: build binaries for both AMD and ARM
  .github/workflows/release-binaries.yml
Due: none

Test against various rack versions
  .github/workflows/test.yml
  anycable-core.gemspec
Due: none

Bump `actions/checkout` to v4
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

Fix compatibility with Rack 3.1
  CHANGELOG.md
  lib/anycable/httrpc/server.rb
  lib/anycable/socket.rb
Due: none

Add a descriptive name to the testing workflow jobs
  .github/workflows/test.yml
Due: none

fix: add SERVER_PROTOCOL
  lib/anycable/socket.rb
Due: none

fix(rbs): annotate Rack::VERSION
  lib/anycable/socket.rb
Due: none

fix: rbs upgrade fixes + minor refactoring
  lib/anycable/httrpc/server.rb
  spec/anycable_spec.rb
Due: none

ci: add release workflow
  .github/workflows/release.yml
Due: none

Bump 1.5.1
  CHANGELOG.md
  lib/anycable/version.rb
Due: none

npm: bump 1.5.2
  packaging/npm/install.mjs
  packaging/npm/package.json
Due: none
