Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.go"
      run: make lint && test "{staged_files}"
    mdl:
      glob: "docs/*.md"
      run: mdl {staged_files}
    liche:
      glob: "docs/*.md"
      run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"
    forspell:
      glob: "docs/*.md"
      run: forspell {staged_files}

pre-push:
  commands:
    test:
      glob: "*.go"
      files: "git diff --name-only HEAD @{push}"
      run: make test && test "{files}"

Return support for an scheme omitted IP address in RPC_HOST
  rpc/config.go
  rpc/config_test.go
Due: lint

backers: thanks @omarluq
  BACKERS.md
Due: none

fix: JSON.dump
  spec/anycable/rpc/handlers/connect_spec.rb
  spec/integrations/grpc/cli/embedded_spec.rb
  spec/integrations/grpc/connection_spec.rb
  spec/integrations/http_rpc_server_spec.rb
Due: none

rbs: ignore rubocop deps
  rbs_collection.yaml
Due: none

docs: Node.js -> JavaScript
  Readme.md
  docs/getting_started.md
Due: mdl, liche, forspell

chore: upgrade to Go 1.21
  .github/workflows/benchmark.yml
  .github/workflows/lint.yml
  .github/workflows/release-binaries.yml
  .github/workflows/release-docker.yml
  .github/workflows/test.yml
  Makefile
  go.mod
  go.sum
  utils/gopool.go
Due: lint

chore: upgrade deps
  go.mod
  go.sum
Due: none

refactor(telemetry): send config info in the usage event
  telemetry/telemetry.go
  telemetry/telemetry_test.go
Due: lint

feat: --redis_disable_cache
  CHANGELOG.md
  cli/options.go
  redis/config.go
Due: lint

Bump 1.4.8
  CHANGELOG.md
  version/version.go
Due: lint

docs: add openapi RPC spec
  docs/http_rpc.md
  etc/rpc-openapi.yml
Due: mdl, liche, forspell

chore: drop rpcbench cli
  cmd/rpcbench/main.go
  cmd/rpcbench/pool/main.go
Due: lint

change: log format / slog
  CHANGELOG.md
Due: none

fix: err.Error() -> err
  broadcast/legacy_nats.go
  broadcast/legacy_redis.go
  broadcast/redis.go
  broker/nats.go
  enats/enats.go
  metrics/custom_printer.go
  metrics/metrics.go
  node/node.go
  node/session.go
  pubsub/nats.go
  pubsub/redis.go
  sse/handler.go
  ws/handler.go
Due: lint

feat(telemetry): observe usage continiously
  telemetry/telemetry.go
Due: lint

feat: introduce runner.Embed() to embed AnyCable into http servers
  .github/workflows/test.yml
  .mdlrc
  CHANGELOG.md
  Makefile
  cli/cli.go
  cli/embed.go
  cli/options.go
  cli/runner_options.go
  cmd/embedded-cable/main.go
  docs/library.md
  telemetry/telemetry.go
Due: lint, mdl, liche, forspell

chore: improve errors and logs in node
  node/node.go
Due: lint

fix: avoid setting duplicate log attrs
  cli/cli.go
  rpc/rpc.go
Due: lint

chore: inline disconnector, minor fixes
  common/common.go
  node/disconnector.go
  node/node.go
Due: lint

docs: update openapi spec
  etc/rpc-openapi.yml
Due: none

fix(logs): truncate long values, handle bytes, improve attrs
  broadcast/legacy_nats.go
  broadcast/legacy_redis.go
  broadcast/redis.go
  cli/cli.go
  cli/options.go
  common/common.go
  hub/gate.go
  hub/hub.go
  logger/values.go
  logger/values_test.go
  node/node.go
  node/session.go
  pubsub/nats.go
  pubsub/redis.go
  rpc/rpc.go
Due: lint

feat: add secret and broadcast_key config options
  lib/anycable/broadcast_adapters/http.rb
  lib/anycable/config.rb
  lib/anycable/httrpc/server.rb
  sig/anycable/config.rbs
  spec/anycable/broadcast_adapters/http_spec.rb
  spec/anycable/config_spec.rb
  spec/integrations/cli/options_spec.rb
Due: none

feat: JWT support
  CHANGELOG.md
  lib/anycable.rb
  lib/anycable/config.rb
  lib/anycable/jwt.rb
  lib/anycable/serializer.rb
  sig/anycable/config.rbs
  sig/anycable/jwt.rbs
  sig/anycable/serializer.rbs
  spec/anycable/jwt_spec.rb
  spec/anycable/middleware_chain_spec.rb
  spec/anycable/serializer_spec.rb
Due: none

feat: streams signing support
  .rubocop-md.yml
  CHANGELOG.md
  docs/non_rails.md
  lib/anycable.rb
  lib/anycable/config.rb
  lib/anycable/streams.rb
  sig/anycable/streams.rbs
  spec/anycable/config_spec.rb
  spec/anycable/streams_spec.rb
Due: mdl, liche, forspell

docs: upgrade for 1.5
  docs/broadcast_adapters.md
  docs/cli.md
  docs/configuration.md
  docs/exceptions.md
  docs/health_checking.md
  docs/http_rpc.md
  docs/logging.md
  docs/middlewares.md
  docs/non_rails.md
  forspell.dict
Due: mdl, liche, forspell

fix(rbs): Streams signature
  lib/anycable/streams.rb
  sig/anycable/streams.rbs
Due: none

refactor: http broadcasting secrets + broadcasting docs
  Makefile
  broadcast/http.go
  broadcast/http_test.go
  cli/options.go
  config/config.go
  docs/broadcasting.md
  docs/configuration.md
  features/sse.testfile
  rpc/config.go
  rpc/rpc.go
  server/server.go
  utils/message_verifier.go
Due: lint, mdl, liche, forspell

feat: new signed streams
  CHANGELOG.md
  cli/cli.go
  cli/options.go
  config/config.go
  docs/getting_started.md
  docs/signed_streams.md
  features/sse.testfile
  features/streams.testfile
  features/turbo_rpc_less.testfile
  rails/cable_ready.go
  rails/cable_ready_test.go
  rails/config.go
  rails/turbo.go
  rails/turbo_test.go
  streams/config.go
  streams/controller.go
  streams/controller_test.go
Due: lint, mdl, liche, forspell

chore: enable http broadcaster by default + upd changelog
  CHANGELOG.md
  config/config.go
  config/presets_test.go
Due: lint

fix: streams secrets inference + support none value
  cli/cli.go
  cli/options.go
  features/sse.testfile
  streams/config.go
Due: lint

fix: grammar
  docs/configuration.md
  forspell.dict
Due: mdl, liche, forspell

fix: upd signed streams docs + deprecate http_broadcast_secret
  cli/options.go
  docs/Readme.md
  docs/signed_streams.md
Due: lint, mdl, liche, forspell

feat: add HTTPBroadcastHandler to embed
  Makefile
  broadcast/http.go
  cli/embed.go
  cmd/embedded-cable/main.go
Due: lint

feat: --secret, --public, --noauth and --norpc options
  .gitignore
  cli/cli.go
  cli/options.go
  cli/runner_options.go
  common/common.go
  config/config.go
  docs/configuration.md
  docs/getting_started.md
  docs/jwt_identification.md
  docs/signed_streams.md
  features/sse.testfile
  features/standalone.testfile
  features/streams.testfile
  identity/identity.go
  identity/identity_test.go
  identity/public.go
  node/controller.go
  rails/config.go
  rpc/config.go
  streams/config.go
  telemetry/telemetry.go
Due: lint, mdl, liche, forspell

docs: new rpc docs
  cli/cli.go
  config/config.go
  docs/broadcasting.md
  docs/broker.md
  docs/configuration.md
  docs/getting_started.md
  docs/pubsub.md
  docs/reliable_streams.md
  docs/rpc.md
Due: lint, mdl, liche, forspell
