Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lint:
  run: make lint && test "{staged_files}"

mdl:
  run: mdl {staged_files}

liche:
  run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"

forspell:
  run: forspell {staged_files}

feat: ANYCABLE_GRPC_IMPL=ws
  lib/anycable.rb
  lib/anycable/config.rb
  lib/anycable/grpc/config.rb
  lib/anycable/wsrpc/client.rb
  lib/anycable/wsrpc/server.rb
  sig/anycable/wsrpc/client.rbs
  sig/anycable/wsrpc/server.rbs
Due: none

chore: upgrade deps
  go.mod
  go.sum
Due: none

feat: finalise presence for pub/sub
  broker/broker.go
  broker/memory.go
  broker/memory_test.go
  broker/nats.go
  cli/options.go
  common/common.go
  docs/.trieve.yml
  docs/Readme.md
  docs/broker.md
  docs/presence.md
  forspell.dict
  mocks/Broker.go
  node/broker_integration_test.go
  node/node.go
  streams/controller.go
Due: lint, mdl, liche, forspell

feat: presence PoC
  broker/broker.go
  broker/config.go
  broker/memory.go
  broker/nats.go
  common/common.go
  mocks/Broker.go
  node/node.go
  streams/config.go
  streams/controller.go
Due: lint

1.6.0 release cycle begins
  CHANGELOG.md
  version/version.go
Due: lint

Support ruby 3.4
  .github/workflows/test.yml
  anycable-core.gemspec
  lib/anycable/jwt.rb
  lib/anycable/protos/rpc_pb.rb
  lib/anycable/socket.rb
Due: none

Support ruby 3.4
  CHANGELOG.md
Due: none

Support ruby 3.4, update dockerfile
  etc/Dockerfile.alpine
Due: none

Support ruby 3.4, update deps
  Gemfile
  anycable-core.gemspec
  anycable.gemspec
  gemfiles/rbs.gemfile
Due: none

chore: require Ruby 3.0 + minor fixes
  .github/workflows/test.yml
  .rubocop.yml
  CHANGELOG.md
  Gemfile
  anycable-core.gemspec
  forspell.dict
  sig/anycable/health_server.rbs
  sig/vendor/webrick.rbs
Due: none

fix: upgrade grpc_kit health protobuf
  gemfiles/rbs.gemfile
  lib/anycable/grpc_kit/health_pb.rb
Due: none

fix(ci): relax steep version for older Rubies
  gemfiles/rbs.gemfile
Due: none

fix: update exception specs for Ruby 3.4
  spec/integrations/grpc/perform_spec.rb
Due: none

Bump 1.5.2
  CHANGELOG.md
  anycable-core.gemspec
  lib/anycable/version.rb
Due: none

chore: move to anycable/anycable
  BACKERS.md
  CONTRIBUTING.md
  Readme.md
  app.json
  docs/getting_started.md
  docs/library.md
Due: mdl, liche, forspell

chore: master -> main
  .github/ISSUE_TEMPLATE.md
  .github/workflows/benchmark.yml
  .github/workflows/docs-lint.yml
  .github/workflows/lint.yml
  .github/workflows/push-stable.yml
  .github/workflows/release-docker.yml
  .github/workflows/test.yml
  .github/workflows/trieve.yml
Due: none

fix: path to local anycable-rb gem + forspell
  Gemfile
  forspell.dict
Due: none

rpc: add PresenceResponse + update tooling
  Makefile
  etc/rpc.proto
  go.mod
  go.sum
  mocks/RPCClient.go
  mocks/RPCServer.go
  protos/rpc.pb.go
  protos/rpc.pb.grpchan.go
  protos/rpc_grpc.pb.go
  rpc/http.go
  rpc/http_test.go
Due: lint

feat: handle presence events from RPC
  common/common.go
  node/node.go
  node/node_test.go
  protocol/protocol.go
  rpc/http_test.go
  rpc/rpc_test.go
Due: lint

docs: add openapi schema
  etc/rpc-openapi.yml
Due: none

tests: anyt presence tests
  CHANGELOG.md
  Gemfile
  Makefile
  broker/memory.go
  docs/presence.md
  etc/anyt/presence_tests/perform_test.rb
  etc/anyt/presence_tests/subscribe_test.rb
Due: lint, mdl, liche, forspell

fix: forspell
  .github/workflows/docs-lint.yml
  docs/presence.md
Due: mdl, liche, forspell

tests: upd anycable gem version
  Gemfile
Due: none

refactor: extract SessionTimers
  CHANGELOG.md
  node/node_mocks_test.go
  node/session.go
Due: lint

refactor: broker.FinishSession -> TouchSession + resume timers
  broker/broker.go
  broker/memory.go
  broker/memory_test.go
  broker/nats.go
  broker/nats_test.go
  cli/session_options.go
  mocks/Broker.go
  node/broker_integration_test.go
  node/node.go
  node/node_mocks_test.go
  node/node_test.go
  node/session.go
Due: lint

fix: pong timer
  features/ping_pong.testfile
  node/session.go
Due: lint

refactor: broker.FinishPresence -> broker.TouchPresence
  broker/broker.go
  broker/memory.go
  broker/memory_test.go
  broker/nats.go
  etc/anyt/presence_tests/perform_test.rb
  etc/anyt/presence_tests/subscribe_test.rb
  mocks/Broker.go
  node/broker_integration_test.go
  node/node.go
  node/session.go
Due: lint

ci: try to fix logger issue
  Gemfile
Due: none

Path conditions:
  lint: any of: *.go
  mdl: any of: docs/*.md
  liche: any of: docs/*.md
  forspell: any of: docs/*.md
