Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.go"
      run: make lint && test "{staged_files}"
    mdl:
      glob: "docs/*.md"
      run: mdl {staged_files}
    liche:
      glob: "docs/*.md"
      run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"
    forspell:
      glob: "docs/*.md"
      run: forspell {staged_files}

pre-push:
  commands:
    test:
      glob: "*.go"
      files: "git diff --name-only HEAD @{push}"
      run: make test && test "{files}"

chore: update rails benchmark
  benchmarks/rails/Gemfile
  benchmarks/rails/benchmark.js
  benchmarks/rails/bento
Due: none

Thanks, @SebastianPoell :heart
  BACKERS.md
Due: none

make: run-gobench
  Makefile
Due: none

refactor: move common HTTP utils to server package
  cli/cli.go
  server/headers_extractor.go
  server/headers_extractor_test.go
  server/request_info.go
  server/request_info_test.go
  ws/handler.go
  ws/handler_test.go
Due: lint

feat: allow configuring ping interval per session
  node/session.go
Due: lint

dev: add go:generate annotations for mockery, upgrade mocks
  broadcast/broadcast.go
  broker/broker.go
  identity/identity.go
  metrics/metrics.go
  mocks/Broadcaster.go
  mocks/Broker.go
  mocks/Handler.go
  mocks/Identifier.go
  mocks/Subscriber.go
  node/node.go
  node_mocks/AppNode.go
  pubsub/subscriber.go
Due: lint

tests: fix flaky enats clusters test
  features/enats_clusters.testfile
  features/runner.rb
Due: none

chore: minor node.Session improvements
  node/session.go
Due: lint

internal: priority queue
  go.mod
  go.sum
  utils/priority_queue.go
  utils/priority_queue_test.go
Due: lint

docs(pro): long polling
  docs/long_polling.md
Due: mdl, liche, forspell

fix(docs): typo
  docs/long_polling.md
Due: mdl, liche, forspell

ci: migrate binary release uploads to GA
  .circleci/config.yml
  .github/workflows/release-binaries.yml
  .github/workflows/release-docker.yml
Due: none

chore: upgrade rueidis
  broadcast/redis.go
  broadcast/redis_test.go
  go.mod
  go.sum
  pubsub/redis.go
  pubsub/redis_test.go
  redis/redis.go
Due: lint

chore: add grpchan
  Makefile
  go.mod
  go.sum
  mocks/RPCServer.go
  protos/rpc.pb.grpchan.go
  rpc/inprocess.go
  rpc/rpc_test.go
Due: lint

feat: rpc over http
  CHANGELOG.md
  benchmarks/rails/connect_subscribe.js
  docs/http_rpc.md
  lib/anycable.rb
  lib/anycable/config.rb
  lib/anycable/httrpc/server.rb
  lib/anycable/rpc/handler.rb
  sig/anycable/config.rbs
  sig/anycable/httrpc/server.rbs
  sig/anycable/rpc.rbs
  sig/anycable/rpc/handler.rbs
  spec/integrations/http_rpc_server_spec.rb
Due: mdl, liche, forspell

docs: fix link
  docs/instrumentation.md
Due: mdl, liche, forspell

fix(httrpc): encode enums as integers
  lib/anycable/httrpc/server.rb
  sig/anycable/rpc.rbs
Due: none

Bump 1.4.0.rc.2
  CHANGELOG.md
  lib/anycable/version.rb
Due: none

fix: require google-protobuf 3.23+
  anycable.gemspec
  docs/http_rpc.md
Due: mdl, liche, forspell

fix(ci): token for releases
  .github/workflows/release-binaries.yml
Due: none

fix: preserve proto field names in http json responses
  CHANGELOG.md
  lib/anycable/httrpc/server.rb
  lib/anycable/version.rb
  spec/integrations/http_rpc_server_spec.rb
Due: none

wip: http rpc service stub
  cli/options.go
  rpc/config.go
  rpc/http.go
  rpc/rpc.go
Due: lint

feat: add circuit breaker for http rpc
  .circleci/Gemfile
  Makefile
  cli/options.go
  docs/configuration.md
  go.mod
  go.sum
  rpc/config.go
  rpc/http.go
  rpc/http_test.go
  rpc/rpc.go
  telemetry/telemetry.go
Due: lint, mdl, liche, forspell

tests: fix flaky timeout test
  rpc/http_test.go
Due: lint

tests: fix flaky hub gate test
  hub/gate_test.go
Due: lint

chore: extract subscriotion_state.go from session.go
  node/session.go
  node/session_test.go
  node/subscription_state.go
  node/subscription_state_test.go
Due: lint

docs: extract reliable streams from broker
  cli/options.go
  config/presets.go
  config/presets_test.go
  docs/broker.md
  docs/reliable_streams.md
Due: lint, mdl, liche, forspell

forspell :cop:
  docs/reliable_streams.md
  forspell.dict
Due: mdl, liche, forspell

upd: broker preset
  config/presets.go
  config/presets_test.go
Due: lint

docs: add resumable sessions
  docs/reliable_streams.md
Due: mdl, liche, forspell

changelog: http rpc
  CHANGELOG.md
Due: none

deploy: add heroku artefacts
  .docker/Dockerfile.heroku
  app.json
  heroku.yml
Due: none

docs: fix style reliable_streams.md
  docs/reliable_streams.md
Due: mdl, liche, forspell

docs: fix chart color in broker.md
  docs/broker.md
Due: mdl, liche, forspell

docs(pro): ocpp draft
  docs/ocpp.md
Due: mdl, liche, forspell

tests: refactor broker integration test to allow testing different adapters
  node/broker_integration_test.go
Due: lint

Bump 1.4.0
  CHANGELOG.md
  docs/http_rpc.md
  lib/anycable/broadcast_adapters/http.rb
  lib/anycable/version.rb
Due: mdl, liche, forspell

docs: Redis broker, prepare 1.4.0
  CHANGELOG.md
  docs/ocpp.md
  docs/reliable_streams.md
  forspell.dict
Due: mdl, liche, forspell
