Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lint:
  run: make lint && test "{staged_files}"

mdl:
  run: mdl {staged_files}

liche:
  run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"

forspell:
  run: forspell {staged_files}

fix: build_http must return response or nil
  lib/anycable/broadcast_adapters/http.rb
Due: none

feat(cli): proxy-cookies flag to filter cookies (#157)
  cli/cli.go
  cli/options.go
  config/config.go
  docs/configuration.md
  go.mod
  go.sum
  ws/handler.go
  ws/handler_test.go
Due: lint, mdl, liche, forspell

Thanks, @alexey
  BACKERS.md
Due: none

CI: migrate to lychee
  .github/workflows/docs-lint.yml
Due: none

style: trailing whitespace
  lib/anycable/broadcast_adapters/http.rb
Due: none

style(docs): fix indentation
  docs/non_rails.md
Due: mdl, liche, forspell

update install command
  Readme.md
Due: none

Validate Redis server TLS certificates by default, allow to disable
  CHANGELOG.md
  docs/configuration.md
  lib/anycable/config.rb
  spec/anycable/config_spec.rb
Due: mdl, liche, forspell

fix: rubocop, rbs
  docs/configuration.md
  sig/anycable/config.rbs
  spec/support/with_env.rb
Due: mdl, liche, forspell

Validate Redis server TLS certificates by default, allow to disable
  CHANGELOG.md
  cli/options.go
  pubsub/redis.go
Due: lint

fix: preserve current behaviour with tls verify
  CHANGELOG.md
  pubsub/redis.go
Due: lint

fix: preserve current behaviour with tls verify
  CHANGELOG.md
  docs/configuration.md
  lib/anycable/config.rb
  spec/anycable/config_spec.rb
Due: mdl, liche, forspell

ci: use ubuntu 20.04 to build mruby
  .github/workflows/test.yml
Due: none

Bump 1.2.5
  CHANGELOG.md
  lib/anycable/version.rb
Due: none

Bump 1.2.3
  CHANGELOG.md
  version/version.go
Due: lint

ci: fix installing ghr
  .circleci/config.yml
Due: none

Setting default driver to ruby if not specified
  CHANGELOG.md
  lib/anycable/broadcast_adapters/redis.rb
  spec/anycable/broadcast_adapters/redis_spec.rb
Due: none

Allow client authentication for connecting to Redis via TLS
  CHANGELOG.md
  docs/configuration.md
  lib/anycable/config.rb
  spec/anycable/config_spec.rb
Due: mdl, liche, forspell

refactor(ws): extract HeadersExtractor interface
  cli/cli.go
  ws/handler.go
  ws/handler_test.go
Due: lint

ci: Ruby 3.2
  .github/workflows/test.yml
Due: none

2023
  MIT-LICENSE
Due: none

sponsors: fly
  BACKERS.md
Due: none

fix: flaky cli spec
  spec/integrations/cli/options_spec.rb
Due: none

rbs: fix signatures, upgrade steep/rbs
  Rakefile
  Steepfile
  gemfiles/rbs.gemfile
  lib/anycable/broadcast_adapters.rb
  lib/anycable/config.rb
  rbs_collection.yaml
  sig/anycable/config.rbs
  sig/anycable/grpc/config.rbs
  sig/anycable/grpc/server.rbs
  sig/anycable/health_server.rbs
  sig/anycable/middleware.rbs
  sig/anycable/rpc.rbs
  spec/anycable/config_spec.rb
Due: none

refactor: init runner defaults on initialization
  cli/cli.go
  cmd/anycable-go/main.go
  cmd/gobench-cable/main.go
Due: lint

feat: allow customizing cli options
  cli/cli_test.go
  cli/options.go
Due: lint

feat: allow adding custom shutdownables to runner
  cli/runner_options.go
Due: lint

feat: add session.SetID()
  node/session.go
Due: lint

feat: add runner.WithWebSocketHandler
  cli/runner_options.go
Due: lint

ci: dowgrade to macos-11
  .github/workflows/test.yml
Due: none

chore: fix sed syntax in Makefile
  Makefile
Due: none

fix: -r option description
  lib/anycable/cli.rb
Due: none

bench: add grpc setup
  benchmarks/grpc/README.md
  benchmarks/grpc/echo.js
  benchmarks/grpc/server.rb
Due: none

Path conditions:
  lint: any of: *.go
  mdl: any of: docs/*.md
  liche: any of: docs/*.md
  forspell: any of: docs/*.md
