Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lint:
  run: make lint && test "{staged_files}"

mdl:
  run: mdl {staged_files}

liche:
  run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"

forspell:
  run: forspell {staged_files}

docs: add talk link to broker
  docs/broker.md
  forspell.dict
Due: mdl, liche, forspell

chore: update RBS and steep, fix following type errors
  gemfiles/rbs.gemfile
  rbs_collection.yaml
  sig/grpc.rbs
  sig/grpc_kit.rbs
  sig/nats.rbs
  sig/webrick.rbs
Due: none

chore: update versions of scripts in GitHub Actions
  .github/workflows/lint.yml
Due: none

fix(grpc): respond with SERVING for an empty service health check
  CHANGELOG.md
  lib/anycable/grpc/server.rb
  lib/anycable/grpc_kit/server.rb
  spec/integrations/grpc/health_check_spec.rb
Due: none

Bump 1.3.1
  CHANGELOG.md
  lib/anycable/version.rb
Due: none

Fix ANYCABLE_FLY_WS_APP_NAME env variable in documentation
  docs/configuration.md
Due: mdl, liche, forspell

rbs: upgrade to 3.0
  .github/workflows/lint.yml
  anycable-core.gemspec
  gemfiles/rbs.gemfile
  lib/anycable/config.rb
  rbs_collection.yaml
  sig/manifest.yml
  sig/vendor/grpc.rbs
  sig/vendor/grpc_kit.rbs
  sig/vendor/nats.rbs
  sig/vendor/webrick.rbs
Due: none

feat: add redisx adapter
  CHANGELOG.md
  docs/broadcast_adapters.md
  docs/configuration.md
  forspell.dict
  lib/anycable/broadcast_adapters/redisx.rb
  lib/anycable/config.rb
  sig/anycable/broadcast_adapters/redisx.rbs
  spec/anycable/broadcast_adapters/redisx_spec.rb
  spec/anycable/config_spec.rb
Due: mdl, liche, forspell

specs: add broadcaster#announce! tests
  spec/anycable/broadcast_adapters/http_spec.rb
  spec/anycable/broadcast_adapters/nats_spec.rb
  spec/anycable/broadcast_adapters/redis_spec.rb
  spec/anycable/broadcast_adapters/redisx_spec.rb
Due: none

docs: add Redis version req for redisx
  docs/broadcast_adapters.md
Due: mdl, liche, forspell

ci: migrate to golangci-lint action
  .github/workflows/lint.yml
Due: none

ci: update conformance test configs
  .github/workflows/test.yml
  Makefile
Due: none

feat: redisx broadcaster
  .circleci/Gemfile
  .github/workflows/test.yml
  CHANGELOG.md
  broadcast/http.go
  broadcast/legacy_redis.go
  broadcast/redis.go
  broadcast/redis_test.go
  cli/options.go
  cli/runner_options.go
  docs/broker.md
  docs/configuration.md
  pubsub/redis.go
  redis/redis.go
Due: lint, mdl, liche, forspell

tests: add instrumenter mock
  mocks/Instrumenter.go
Due: lint

feat: broadcast messages in order within hub
  hub/gate.go
  hub/gate_test.go
  hub/hub.go
  hub/hub_test.go
  node/node.go
  node/node_test.go
Due: lint

dev: upgrade gops
  go.mod
  go.sum
Due: none

changelog: hub with order
  CHANGELOG.md
Due: none

fix(ci): use Go 1.20 for lint task
  .github/workflows/lint.yml
Due: none

flaky: gate shutdown
  hub/gate_test.go
Due: lint

feat: disconnect_mode
  CHANGELOG.md
  cli/options.go
  cli/runner_options.go
  common/common.go
  docs/configuration.md
  docs/signed_streams.md
  features/metrics.testfile
  identity/identity.go
  identity/identity_test.go
  node/config.go
  node/node.go
  node/node_test.go
  node/session.go
  node/session_test.go
  rails/cable_ready.go
  rails/cable_ready_test.go
  rails/turbo.go
  rails/turbo_test.go
Due: lint, mdl, liche, forspell

tests: add rpc-less feature
  features/runner.rb
  features/turbo_rpc_less.testfile
Due: none

fix: features runner inline bundler setup
  features/runner.rb
Due: none

refactor: allow retrieving instrumenter via runner.Instrumenter()
  cli/cli.go
Due: lint

feat: cleartext mode for turbo and cable ready streams
  CHANGELOG.md
  cli/cli.go
  cli/options.go
  features/cable_ready.testfile
  rails/cable_ready.go
  rails/cable_ready_test.go
  rails/config.go
  rails/turbo.go
  rails/turbo_test.go
Due: lint

feat: telemetry
  .circleci/config.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  cli/cli.go
  cli/runner_options.go
  cmd/anycable-go/main.go
  docs/telemetry.md
  go.mod
  go.sum
  telemetry/config.go
  telemetry/telemetry.go
  telemetry/telemetry_test.go
Due: lint, mdl, liche, forspell

forspell: <- Posthog
  forspell.dict
Due: none

feat: add CI and deploy info to telemetry
  docs/telemetry.md
  go.mod
  go.sum
  telemetry/telemetry.go
  telemetry/telemetry_test.go
Due: lint, mdl, liche, forspell

refactor: recognize all data types in message verifier
  rails/cable_ready.go
  rails/cable_ready_test.go
  rails/turbo.go
  rails/turbo_test.go
  utils/message_verifier.go
  utils/message_verifier_test.go
Due: lint

fix: do not store channel when subscription rejected
  node/node.go
  node/node_test.go
  telemetry/telemetry_test.go
Due: lint

feat: MessageVerifier.Generate()
  utils/message_verifier.go
  utils/message_verifier_test.go
Due: lint

fix: add Authenticated to AppNode
  node/node.go
  node_mocks/AppNode.go
Due: lint

ci: fix github_release filter
  .circleci/config.yml
Due: none

Bump 1.4.0-rc.1
  CHANGELOG.md
  lib/anycable/version.rb
Due: none

docker: upgrade mrb from stretch -> buster
  .docker/Dockerfile.mrb-linux-amd64
Due: none

feat: add Node.Instrumenter()
  node/node.go
Due: lint

ci: increase benchmark job timeout
  .github/workflows/benchmark.yml
Due: none

Path conditions:
  lint: any of: *.go
  mdl: any of: docs/*.md
  liche: any of: docs/*.md
  forspell: any of: docs/*.md
