Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.go"
      run: make lint && test "{staged_files}"
    mdl:
      glob: "docs/*.md"
      run: mdl {staged_files}
    liche:
      glob: "docs/*.md"
      run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"
    forspell:
      glob: "docs/*.md"
      run: forspell {staged_files}

pre-push:
  commands:
    test:
      glob: "*.go"
      files: "git diff --name-only HEAD @{push}"
      run: make test && test "{files}"

Fix tests for maxPendingSize check
  node/session_test.go
Due: lint

wording
  node/session_test.go
Due: lint

Fix option description for ws_max_pending_size
  cli/options.go
Due: lint

make lint
  node/session_test.go
Due: lint

fix: subscribe/unsubscribe synchronously in redis pubsub
  pubsub/redis.go
Due: lint

chore: upgrade deps
  go.mod
  go.sum
Due: none

fix: make Redis config cluster-friendly; add dev cluster setup
  config/config.go
  etc/redis-cluster/compose.yml
  go.mod
  go.sum
  redis/config.go
  redis/config_test.go
Due: lint

docs: mention zero sessions_ttl
  docs/reliable_streams.md
Due: mdl, liche, forspell

chore: upgrade nats-server and more
  go.mod
  go.sum
Due: none

chore: upgrade golang-jwt to v5
  go.mod
  go.sum
  identity/jwt.go
  identity/jwt_test.go
Due: lint

ci: upgrade to ubuntu-22
  .github/workflows/release-binaries.yml
  .github/workflows/release-docker.yml
  .github/workflows/test.yml
Due: none

fix(ci): use Ruby 2.7
  .github/workflows/release-docker.yml
  .github/workflows/test.yml
Due: none

Bump 1.6.1
  version/version.go
Due: lint

Bump npm 1.6.1
  CHANGELOG.md
  packaging/npm/package.json
Due: none

feat: infer Redis pub/sub from other settings
  CHANGELOG.md
  Makefile
  cli/options.go
Due: lint

feat: pusher protocol
  CHANGELOG.md
  cli/cli.go
  common/common.go
  node/node.go
  node/session.go
  pusher/encoder.go
  pusher/encoder_test.go
  streams/controller.go
Due: lint

feat: pusher config + feature spec
  cli/cli.go
  cli/options.go
  config/config.go
  features/pusher.testfile
  features/runner.rb
  pusher/config.go
  pusher/config_test.go
Due: lint

dev: upgrade to golangci-lint v2
  .github/workflows/lint.yml
  .golangci.yml
  Makefile
  broadcast/legacy_redis.go
  broker/memory.go
  node/node.go
  pubsub/redis.go
  utils/graceful_signals.go
Due: lint

feat: grpc-list:// scheme to support multiple addresses
  CHANGELOG.md
  docs/rpc.md
  rpc/grpc_resolvers.go
  rpc/grpc_test.go
  rpc/rpc.go
  version/version.go
Due: lint, mdl, liche, forspell

- changelog
  CHANGELOG.md
Due: none

Bump npm to 1.6.2
  packaging/npm/package.json
Due: none

fix(docker): use bookworm for mrb images
  .docker/Dockerfile.mrb-linux-amd64
Due: none

fix: improve rpc retry timeout accuracy
  rpc/rpc.go
Due: lint

- httprpc: fix circuit breaker usage, add logs
  rpc/http.go
Due: lint

- config: support 'none' for pubsub and broker adapters
  cli/runner_options.go
Due: lint

* ci: update trieve.yml
  .github/workflows/trieve.yml
Due: none

feat: better pusher protocol support
  cli/cli.go
  cli/options.go
  features/pusher-private.testfile
  features/pusher.testfile
  node/session.go
  node_mocks/Executor.go
  pusher/README.md
  pusher/config.go
  pusher/controller.go
  pusher/controller_test.go
  pusher/encoder.go
  pusher/encoder_test.go
  pusher/executor.go
  pusher/executor_test.go
  pusher/verifier.go
  pusher/verifier_test.go
Due: lint

feat: support handling pusher events
  CHANGELOG.md
  cli/cli.go
  cli/options.go
  common/common.go
  docs/pusher.md
  features/pusher.testfile
  pusher/README.md
  pusher/config.go
  pusher/http.go
  pusher/http_test.go
  pusher/verifier.go
Due: lint, mdl, liche, forspell

feat(pusher): presence support
  cli/cli.go
  docs/pusher.md
  encoders/encoding_cache.go
  features/pusher-presence.testfile
  node/session.go
  pusher/README.md
  pusher/controller.go
  pusher/controller_test.go
  pusher/encoder.go
  pusher/encoder_test.go
  pusher/executor.go
  pusher/executor_test.go
  pusher/verifier_test.go
Due: lint, mdl, liche, forspell

fix: regression in common.Reply
  common/common.go
  features/runner.rb
Due: lint

fix: pusher endpoints configuration and socket_id
  cli/cli.go
  cli/options.go
  docs/pusher.md
  features/pusher-presence.testfile
  features/pusher-private.testfile
  features/pusher.testfile
  pusher/config.go
  pusher/http.go
  pusher/http_test.go
  pusher/pusher.go
Due: lint, mdl, liche, forspell

fix(pusher): enable presence timers
  cli/cli.go
Due: lint
