Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, mdl, liche, forspell

lint:
  run: make lint && test "{staged_files}"

mdl:
  run: mdl {staged_files}

liche:
  run: liche -c 4 -r docs/* -x "((ruby|deployment|assets)/|cableready\.stimulusreflex)" -d docs/ && test "{staged_files}"

forspell:
  run: forspell {staged_files}

bench: grpc vs grpc_kit
  benchmarks/grpc/README.md
  benchmarks/grpc/server.rb
Due: none

experimental: grpc_kit support
  .github/workflows/test.yml
  CHANGELOG.md
  Gemfile
  Steepfile
  lib/anycable.rb
  lib/anycable/grpc/config.rb
  lib/anycable/grpc_kit.rb
  lib/anycable/grpc_kit/server.rb
  sig/anycable/grpc/config.rbs
  spec/integrations/grpc/cli/options_spec.rb
  spec/integrations/grpc/health_check_spec.rb
  spec/spec_helper.rb
  spec/support/with_grpc_stub.rb
Due: none

bench: add single-file multi-server app and some scripts
  .rubocop.yml
  benchmarks/mem_plot.py
  benchmarks/rails/.gitignore
  benchmarks/rails/Makefile
  benchmarks/rails/bento
  benchmarks/rails/monitor_docker.rb
  benchmarks/rtt_plot.py
Due: none

feat: add runner.WithWebSocketEndpoint
  cli/cli.go
  cli/runner_options.go
  metrics/metrics.go
  pubsub/http.go
  server/server.go
Due: lint

fix: multiple ws paths option parsing
  cli/options.go
Due: lint

feat: migrate to chi router to support placeholders and wildcards
  CHANGELOG.md
  docs/configuration.md
  go.mod
  go.sum
  server/server.go
Due: lint, mdl, liche, forspell

specs: ensure command stops in #run_command
  spec/support/cli_testing.rb
Due: none

Update docs for grpc_impl setting
  docs/configuration.md
Due: mdl, liche, forspell

Remove unnecessary dependencies
  Gemfile
  benchmarks/grpc/server.rb
Due: none

benchmarks: update grpc script
  benchmarks/grpc/README.md
  benchmarks/grpc/echo.js
Due: none

changelog: fix links
  CHANGELOG.md
Due: none

bench: add k6 benchmark
  benchmarks/rails/.gitignore
  benchmarks/rails/Gemfile
  benchmarks/rails/Makefile
  benchmarks/rails/benchmark.js
  benchmarks/rails/bento
Due: none

docs: grpc_impl option does not exist
  docs/configuration.md
Due: mdl, liche, forspell

chore: upgrade envoy instructions
  etc/envoy/Dockerfile
  etc/envoy/Readme.md
  etc/envoy/envoy.yaml
Due: none

dev: add DNS load balancing playground
  etc/dns/README.md
  etc/dns/server.rb
Due: none

feat: add rpc_max_connection_age option and default
  .rubocop.yml
  CHANGELOG.md
  gemfiles/rbs.gemfile
  lib/anycable/grpc/config.rb
  sig/anycable/grpc/config.rbs
  spec/anycable/grpc/config_spec.rb
Due: none

license: 2023
  MIT-LICENSE
Due: none

feat: grpc_active_conn_num
  CHANGELOG.md
  go.mod
  go.sum
  rpc/barrier.go
  rpc/config.go
  rpc/rpc.go
  rpc/rpc_test.go
Due: lint

fix(tests): conformance gemfile deps
  .circleci/Gemfile
Due: none

feat: add --metrics_log_filter
  cli/options.go
  docs/instrumentation.md
  metrics/config.go
  metrics/metrics.go
  metrics/printer.go
  utils/utils.go
Due: lint, mdl, liche, forspell

chore: upgrade to go 1.19
  .circleci/config.yml
  .github/workflows/benchmark.yml
  .github/workflows/docs-lint.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  go.mod
Due: none

feat(rpc): add barrier.Stop() and Start()
  rpc/barrier.go
  rpc/rpc.go
Due: lint

dev: add k6 echo.js
  .gitignore
  etc/k6/echo.js
Due: none

chore: configure simplecov
  anycable-core.gemspec
  spec/spec_helper.rb
Due: none

ci: add coveralls
  .github/workflows/test.yml
Due: none

rbs: use rbs < 3
  gemfiles/rbs.gemfile
  rbs_collection.yaml
Due: none

readme: coverage badge
  README.md
Due: none

feat: metrics tags
  CHANGELOG.md
  cli/cli.go
  cli/options.go
  cli/options_test.go
  etc/statsd_fake.rb
  metrics/config.go
  metrics/metrics.go
  metrics/prometheus.go
  metrics/prometheus_test.go
  metrics/statsd_writer.go
  metrics/statsd_writer_test.go
Due: lint

feat: statsd metrics
  CHANGELOG.md
  cli/cli.go
  cli/options.go
  docs/instrumentation.md
  etc/telegraf.conf
  go.mod
  go.sum
  metrics/config.go
  metrics/statsd_writer.go
  metrics/statsd_writer_test.go
Due: lint, mdl, liche, forspell

ci: migrate to reusable workflows
  .github/workflows/docs-lint.yml
  .github/workflows/lint.yml
  .github/workflows/push-stable.yml
  .github/workflows/test.yml
Due: none

ci: migrate to reusable workflows
  .github/workflows/docs-lint.yml
  .github/workflows/push-stable.yml
  .github/workflows/test.yml
  CHANGELOG.md
  forspell.dict
Due: none

Path conditions:
  lint: any of: *.go
  mdl: any of: docs/*.md
  liche: any of: docs/*.md
  forspell: any of: docs/*.md
